<div class="container">
  <div class="row card">
    <!-- notification-form.component.html -->
    <form [formGroup]="notificationForm" (ngSubmit)="shareNotification()">
     
      <div class="form-group">
        <label for="nhead">Heading</label>
        <input type="text" id="nhead" formControlName="nhead" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="nsubhead">Subheading</label>
        <input type="text" id="nsubhead" formControlName="nsubhead" class="form-control">
      </div>
      <div class="form-group">
        <label for="ndescription">Description</label>
        <textarea id="ndescription" formControlName="ndescription" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label for="notisend">Notification Send</label>
        <input type="text" id="notisend" formControlName="notisend" class="form-control" required>
      </div>
      <button type="submit" class="btn custom-btn rounded-pill">Share Notification</button>
    </form>
  </div>
</div>
