<div class="container-fluid" style="background-color: grey;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="container" style="margin: 50px auto;">
                    <!-- <div class="row">
                        <h1 class="animated-text">Let's make your next great hire fast</h1>
                    </div> -->
                    <div class="row align-items-center">
                        <div class="col-md-9">
                            <h1 class="animated-text">Let's make your next great hire fast</h1>
                        </div>
                        <!-- <div class="col-md-3 text-md-end">
                            <button class="btn btn-primary">Subscriptions</button>
                        </div> -->
                    </div>
                    <!-- <div class="row">
                        <div class="col-md-8">

                        </div>
                    </div> -->
                </div>
            </div>

            <div class="col-md-6">
                <img src="/assets/2 (1).jpg" alt="" width="100%">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" style="background-color: grey;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <div class="card" style="background-color: whitesmoke;" style="width: 100% !important;">
                    <img src="https://raw.githubusercontent.com/suraj9594/J4J-Website-Images/main/images/employeBanner1.jpg" class="img-fluid" alt="" >
                    <h2 style="text-align: left;" class="pt-3 px-3">Create Your Free Account</h2>
                    <p class="px-3">All you need is your email address to create an account and start building your job post.</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card" style="background-color: whitesmoke;" style="width: 100% !important;">
                    <img src="https://raw.githubusercontent.com/suraj9594/J4J-Website-Images/main/images/employeBanner2.jpg" class="img-fluid" alt=""  >
                    <h2 style="text-align: left;" class="pt-3 px-3">Create Your Job Post</h2>
                    <p class="px-3">Then just add a title, description, and location to your job post, and you're ready to go.</p>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card" style="background-color: whitesmoke" style="width: 100% !important;">
                    <img src="https://raw.githubusercontent.com/suraj9594/J4J-Website-Images/main/images/employeBanner3.jpg" class="img-fluid" alt="" >
                    <h2 style="text-align: left;" class="pt-3 px-3">Post Your Job</h2>

                    <p class="px-3">After you post your job, use our state-of-the-art tools to help you find dream talent.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--  -->

<div class="container">
    <div class="row contentboxf">
        <div class="col-md-6">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img src="https://raw.githubusercontent.com/suraj9594/J4J-Website-Images/main/images/JOB4job%20illustrations-01%20(1).png" alt="" width="100%">
                    </div>
                    <div class="col-md-8">
                        <div class="container">
                            <div class="row">
                                <h2>Quality Matches:</h2>
                            </div>
                            <div class="row">
                                <p>Discover the ideal match for your team. Our platform is designed to connect you with
                                    talented candidates who align perfectly with your company's culture and goals,
                                    ensuring long-lasting, successful collaborations.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img src="https://raw.githubusercontent.com/suraj9594/J4J-Website-Images/main/images/JOB4job%20illustrations-03.png" alt="" width="100%">
                    </div>
                    <div class="col-md-8">
                        <div class="container">
                            <div class="row">
                                <h2>Efficiency: </h2>
                            </div>
                            <div class="row">
                                <p> Streamline your recruitment process. With a few taps, post your job listings and
                                    attract high-quality candidates. Our platform ensures you achieve your hiring goals
                                    with speed and simplicity</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img src="https://raw.githubusercontent.com/suraj9594/J4J-Website-Images/main/images/JOB4job%20illustrations-04.png" alt="" width="100%">
                    </div>
                    <div class="col-md-8">
                        <div class="container">
                            <div class="row">
                                <h2>Fast Reach:</h2>
                            </div>
                            <div class="row">
                                <p>Unlock the door to a boundless reservoir of skilled professionals. Our platform
                                    connects you with an extensive and diverse talent pool, ensuring you access the
                                    expertise and diversity your organization deserves.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img src="https://raw.githubusercontent.com/suraj9594/J4J-Website-Images/main/images/JOB4job%20illustrations-02.png" alt="" width="100%">
                    </div>
                    <div class="col-md-8">
                        <div class="container">
                            <div class="row">
                                <h2>Cost-Effective:</h2>
                            </div>
                            <div class="row">
                                <p> Maximize your recruitment budget with us. Our platform provides excellent value,
                                    helping you find top talent without breaking the bank. We offer cost-effective
                                    solutions for companies of all sizes so you can invest in your team's success.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container" style="margin: 80px auto;">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-9 text-center">
       
          </div>
          
          
          

        <!-- <div class="col-md-6">
            <h3>You control your posts 24/7—edit, add, pause, or close them whenever you want. <b> Learn more about
                    posting.</b></h3>
        </div> -->
    </div>
    <div class="row">
        <div class="col-md-4">

        </div>

    </div>
</div>


<div class="advertisement-container">
    <div class="container text-center" style="margin: 50px auto;">
        <div class="row">
            <!-- <h2 style="font-size: 6vh; font-weight: bold; color: black;">Want to fill your job faster? 
                <span class="blink-text">Sponsor it.</span>
            </h2> -->
            <h2 class="sponsor-text">Want to fill your job faster? 
                <span class="blink-text">Sponsor it.</span>
            </h2>
        </div>

        <div class="row text-center">
            <h5>Sponsored Jobs are over 4.5X more likely to result in a hire. Pick the daily budget that works for you; pay only for people clicking on your post.</h5>
        </div>
    </div>
</div>


  




<div class="container">
    <div class="row">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="assets/image-001.jpg" class="d-block w-100" alt="">
                </div>
                <div class="carousel-item">
                    <img src="assets/image-002.jpg" class="d-block w-100" alt="">
                </div>
                <div class="carousel-item">
                    <img src="assets/image-003.jpg" class="d-block w-100" alt="">
                </div>
                <div class="carousel-item">
                    <img src="assets/image-004.jpg" class="d-block w-100" alt="">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<div class="container text-center" style="margin: 40px auto;">
    <div class="row">
        <h1 class="bold-text" style="color: black;">We Bring Best Talent To Your Company</h1>
    </div>
</div>
<div class="container text-center" style="margin: 40px auto;">
    <div class="row">
        <h3 class="">Over thousands companies use Job4Jobless to hire. Because we are the true matchmakers of talents and opportunities</h3>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card" style=" background-color: whitesmoke;">
                <img src="https://github.com/suraj9594/J4J-Website-Images/blob/main/images/job1.jpg?raw=true" class="img-fluid" alt="">
                <h3 style="padding: 5%; align-content: center;" > <b> Job4Jobless is one of the top choices for recuriters finding high-quality talent and candidate with great efficiency</b> </h3>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card" style=" background-color: whitesmoke;">
                <img src="https://github.com/suraj9594/J4J-Website-Images/blob/main/images/job2.jpg?raw=true" class="img-fluid" alt="">
                <h3 style="padding: 5%; align-content: center;">
                    <b>Job4Jobless is the world's best platform that is highly recommended for colleges that are searching for  job seekers. </b></h3>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card" style=" background-color: whitesmoke;">
                <img src="https://github.com/suraj9594/J4J-Website-Images/blob/main/images/job3.jpg?raw=true" class="img-fluid" alt="">
                <h3 style="padding: 5%; align-content: center;"><b> Job4Jobless uses a  hi-tech job platform that fastens the job search and recruiting process and reduces the failure rate.</b> </h3>
            </div>
        </div>
    </div>
</div>

<!-- my-component.component.html -->
<!-- <div class="container custom-container" style="margin-top: 80px; background-color: #1c1c1c;">
    <div class="row">
        <div class="col-md-6 text-center custom-text-container">
            <div class="text-container" style="padding: 30px;">
                <h1>Job4Jobless is founded with an aim to bridging the right candidate for right positions. We are
                    skilled in bringing your dream talent on board with the best Application Tracking System that can
                    help you improve the efficiency of the recruitment process. Save time and effort by collaborating
                    with us. </h1>
            </div>
        </div>
        <div class="col-md-6">
            <div class="image-container">
                <img src="/assets/09-image.jpg" alt="Image" class="img-fluid">
            </div>
        </div>
    </div>
</div> -->




<div class="container contentget">
    <div class="row text-center">
  
    </div>
    <div class="row text-center">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
          
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-4">

        </div>

    </div>

</div>

<div id="popupDialogJob" class="popup">
    <div class="popup-content">
        <span class="close" id="closeButtonJob">&times;</span>
        <div class="popup-form">
            <h1>Let's Get Started</h1>
            <p>Already have an account? <b> <a routerLink="/employer/empregister">Register</a>
                </b> </p>
            <form [formGroup]="companyswitch" (ngSubmit)="switchtoemployer()">
                <div class="form-group">
                    <label for="companyName">Company Name:</label>
                    <input type="text" id="companyName" formControlName="empcompany" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="empmailid">Email:</label>
                    <input type="email" id="empmailid" formControlName="empmailid" class="form-control" required>
                    <div *ngIf="companyswitch.get('empmailid')?.hasError('required') && companyswitch.get('empmailid')?.touched"
                        class="text-danger">
                        Email is required.
                    </div>
                    <div *ngIf="companyswitch.get('empmailid')?.hasError('email') && companyswitch.get('empmailid')?.touched"
                        class="text-danger">
                        Please enter a valid email address.
                    </div>
                    <div *ngIf="companyswitch.get('empmailid')?.hasError('pattern') && companyswitch.get('empmailid')?.touched"
                        class="text-danger">
                        Enter valid email address
                    </div>
                </div>
                <div class="form-group">
                    <label for="emppass">Password:</label>
                    <input type="password" id="emppass" formControlName="emppass" class="form-control" required>
                    <div *ngIf="companyswitch.get('emppass')?.hasError('required') && companyswitch.get('emppass')?.touched"
                        class="text-danger">
                        Password is required.
                    </div>
                </div>
                <!-- <div class="form-group form-check">
                    <input type="checkbox" id="termsCheckbox" formControlName="termsCheckbox" class="form-check-input">
                    <label for="termsCheckbox" class="form-check-label">I agree to the <a routerLink="/terms" routerLinkActive="active">Terms and Conditions</a> and <a routerLink="/privacy-policy" routerLinkActive="active">Privacy Policy</a></label>
                    <div *ngIf="companyswitch.get('termsCheckbox')?.invalid && companyswitch.get('termsCheckbox')?.touched"
                        class="text-danger">
                        You must agree to the <a routerLink="/terms" routerLinkActive="active">Terms and Conditions</a> and <a routerLink="">Privacy Policy</a>.
                    </div>
                </div>
                <button type="submit" class="btn custom-btn rounded-pill">Submit</button> -->
                <div class="form-group form-check">
                    <input type="checkbox" id="termsCheckbox" formControlName="termsCheckbox" class="form-check-input">
                    <label for="termsCheckbox" class="form-check-label">I agree to the <a routerLink="/terms" routerLinkActive="active">Terms and Conditions</a> and <a routerLink="/privacy-policy" routerLinkActive="active">Privacy Policy</a></label>
                    <div *ngIf="termsCheckbox?.invalid && termsCheckbox?.touched" class="text-danger">
                      You must agree to the <a routerLink="/terms" routerLinkActive="active">Terms and Conditions</a> and <a routerLink="/privacy-policy" routerLinkActive="active">Privacy Policy</a>.
                    </div>
                  </div>
                  <button type="submit" class="btn custom-btn rounded-pill" [disabled]="!companyswitch.valid">Submit</button>
            </form>

         
        </div>

    </div>
</div>
<app-footerc></app-footerc>
