<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <!-- <img src="https://d341ezm4iqaae0.cloudfront.net/assets/sites/39/2015/12/14015226/indeed-for-employers2-1.png"
                            alt="" width="100%"> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="container" style="margin: 30px auto;">
                <div class="row">
                    <!-- <div class="col-md-4">
                        <button id="" class="btn custom-btn rounded-pill contactform">Contact Us</button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="row">

    </div>
</div>



<div class="container text-center procontent">
    <div class="row">
        <h1 style="font-size: 2rem; color: black;"><b>Advanced AI Matching:</b> </h1>
    </div>
    <div class="row">
        <h3>Elevating Recruitment Efficiency
</h3>
    </div>
    <div class="row">
        <h3>Our platform revolutionizes recruitment through advanced AI and ML algorithms. With precision and speed, our technology aligns employers with the most suitable candidates. This not only ensures a higher success rate in matching job seekers with their ideal roles but also optimizes the recruitment process for employers. By automating and refining the candidate selection process, we save employers valuable time and resources. Our commitment to leveraging innovative technology guarantees that both job seekers and employers experience recruitment that is efficient, effective, and seamlessly powered by artificial intelligence.
        </h3>
    </div>
</div>



<div class="container" style="margin: 80px auto;">
    <div class="row">
        <div class="col-md-6 animated-text" style="background-color: rgb(255, 255, 255);">
            <div class="container">
                <div class="row">
                    <h1 style="font-size: 2rem; text-shadow: 3px 3px 5px #888; color: black;">Comprehensive Talent Pool:
                    </h1>
                </div>
            
                <div class="row">
                    <h2>Invest to find the right fit faster</h2>
                    <h5>
                        Our platform provides access to a comprehensive talent pool, ensuring that every hire is a perfect fit for your organization. Our vast spectrum of talent includes candidates from diverse industries and backgrounds, enabling you to discover the right match for your company's unique requirements. We believe in the power of diversity, and our commitment to inclusivity ensures that we can help you source individuals with a wide array of skills, experiences, and perspectives. With this extensive talent pool at your fingertips, you'll find the ideal candidate who not only meets but exceeds your expectations, driving your organization towards greater success and innovation.
                    </h5>
                </div>
            
            </div>
        </div>
        <div class="col-md-6 animated-img">
            <img src="https://github.com/suraj9594/J4J-Website-Images/blob/main/images/job-website-image.jpg?raw=true"
                alt="" width="100%">
        </div>
    </div>
</div>
<hr>
<div class="container" style="margin: 80px auto;">
    <div class="row">
        <div class="col-md-6 animated-text">
            <img src="https://raw.githubusercontent.com/suraj9594/J4J-Website-Images/main/images/job-website-image01.jpg" alt=""
                width="100%">
        </div>
        <div class="col-md-6 animated-img" style="background-color: rgb(255, 255, 255);">
            <div class="container" >
                <div class="row">
                    <h1 style="font-size: 2rem; text-shadow: 3px 3px 5px #888; color: black;">Streamlined Hiring Process:
                    </h1>
                </div>
                
                <div class="row">
                    <h2>Simplifying Recruitment to Next Level
                    </h2>
                    <h5>Our platform simplifies the entire hiring process, from job posting & candidate screening to interview scheduling and offer management, to ensure a more efficient hiring experience. From the moment you post a job listing to screening candidates, scheduling interviews, and managing offers, our platform offers a seamless, end-to-end experience. We're committed to ensuring that your hiring journey is not only efficient but also stress-free. By streamlining every step of the process, we empower employers to make smarter hiring decisions, save valuable time and resources, and connect with the right talent more effectively. With us, recruitment becomes a well-organized, efficient, and enjoyable experience for employers and job seekers alike.
                    </h5>
                </div>
                <div class="row">

                </div>
              
            </div>
        </div>

    </div>
</div>
<hr>
<div class="container" style="margin: 80px auto;">
    <div class="row">
        <div class="col-md-6 animated-text" style="background-color: rgb(255, 255, 255);">
            <div class="container">
                <div class="row">
                    <h1 style="font-size: 2rem; text-shadow: 3px 3px 5px #888; color: black;">Data-Driven Insights:
                    </h1>
                </div>
                <div class="row">
                    <h2>Charting the Course to Successful Hires
                    </h2>
                    <h5>We leverage the power of data to provide invaluable insights that guide employers toward successful hires and cost savings. Our platform offers comprehensive data analytics and reporting, allowing employers to make informed decisions and enhance their recruitment strategies. By examining job market trends, candidate behavior, and industry-specific insights, we help employers navigate the recruitment landscape with precision. Our data-driven approach not only streamlines the hiring process but also ensures that you connect with the best-fit talent for your organization. This results in better hires, increased efficiency, and significant cost savings, all supported by the wealth of insights Job 4 Jobless provides.
                    </h5>
                </div>

           
            </div>
        </div>
        <div class="col-md-6 animated-img">
            <img src="https://raw.githubusercontent.com/suraj9594/J4J-Website-Images/main/images/Connecting-Perfect-Matches%20(1)%20(1).jpg"
                alt="" width="100%">
        </div>
    </div>
</div>
<hr>
<div class="container" style="margin: 80px auto;">
    <div class="row">
        <div class="col-md-6 animated-text">
            <img src="https://github.com/suraj9594/J4J-Website-Images/blob/main/images/01%20(1).png?raw=true" alt=""
                width="100%">
        </div>
        <div class="col-md-6 animated-img" style="background-color: rgb(255, 255, 255);">
            <div class="container">
                <div class="row">
                    <h1 style="font-size: 2rem; text-shadow: 3px 3px 5px #888; color: black;">Personalized Employer Branding:
                    </h1>
                </div>
             
                <div class="row">
                   <h2>Elevate Your Brand, Elevate Your Hires
                </h2>
                    <h5>
                        Job 4 Jobless empowers employers with advanced tools and resources to boost their employer branding efforts. We understand that a strong employer brand is the key to attracting top talent and making successful hires. Our platform offers customizable job listings, allowing employers to showcase their unique company culture, values, and opportunities. By personalizing their employer branding, organizations can create a compelling narrative that resonates with candidates, ultimately elevating their brand and attracting the best-fit talent. The result? More successful hires, increased applicant engagement, and a workforce that aligns with the values and vision of the company. With Job 4 Jobless, your brand's success is our priority.


                    </h5>
                </div>
            
            </div>
        </div>

    </div>
</div>







<div id="popupDialogContact" class="popup">
    <div class="popup-content">
        <span class="close" id="closeButtonContact">&times;</span>
        <div class="popup-form">
            <h1>Contact Us</h1>
            <form [formGroup]="contactForma" (ngSubmit)="contactdetailsemp(contactForma)">
                <div class="form-group">
                  <div class="mb-3">
                    <label class="form-label">*How can we help?</label>
                    <select class="form-select" formControlName="contacthelp">
                      <option value="" disabled selected>Select an option</option>
                      <option value="accountverification">Account Verification</option>
                      <option value="advertiseonindeed">Advertise on Indeed</option>
                      <option value="billing">Billing</option>
                      <option value="contact">Contact</option>
                      <option value="contactsales">Contact Sales</option>
                      <option value="disabledaccount">Disabled Account</option>
                      <option value="passwordreset">Password Reset</option>
                      <option value="resumesearch">Resume Search</option>
                    </select>
                  </div>
                </div>
              
                <div class="form-group">
                  <label for="contactname">Name:</label>
                  <input type="text" id="contactname" formControlName="contactname" class="form-control" required>
                  <div *ngIf="contactForma.get('contactname')?.hasError('required') && (contactForma.get('contactname')?.dirty || contactForma.get('contactname')?.touched)" class="text-danger">
                    Name is required.
                  </div>
                </div>
              
                <div class="form-group">
                  <label for="contactmail">Email:</label>
                  <input type="email" id="contactmail" formControlName="contactmail" class="form-control" required>
                  <div *ngIf="contactForma.get('contactmail')?.hasError('required') && (contactForma.get('contactmail')?.dirty || contactForma.get('contactmail')?.touched)" class="text-danger">
                    Email is required.
                  </div>
                  <div *ngIf="contactForma.get('contactmail')?.hasError('pattern') && (contactForma.get('contactmail')?.dirty || contactForma.get('contactmail')?.touched)" class="text-danger">
                    Invalid email format. Must end with '@gmail.com'.
                  </div>
                </div>
              
                <div class="form-group">
                  <label for="contactcompany">Company:</label>
                  <input type="text" id="contactcompany" formControlName="contactcompany" class="form-control" required>
                  <div *ngIf="contactForma.get('contactcompany')?.hasError('required') && (contactForma.get('contactcompany')?.dirty || contactForma.get('contactcompany')?.touched)" class="text-danger">
                    Company is required.
                  </div>
                </div>
              
                <div class="form-group">
                  <label for="contactphone">Phone:</label>
                  <input type="tel" id="contactphone" formControlName="contactphone" class="form-control" required>
                  <div *ngIf="contactForma.get('contactphone')?.hasError('required') && (contactForma.get('contactphone')?.dirty || contactForma.get('contactphone')?.touched)" class="text-danger">
                    Phone is required.
                  </div>
                </div>
              
                <button type="submit" class="btn custom-btn rounded-pill">Submit</button>
              </form>
              

        </div>

    </div>
</div>

<div id="popupDialogJob" class="popup">
    <div class="popup-content">
        <span class="close" id="closeButtonJob">&times;</span>
        <div class="popup-form">
            <h1>Let's Get Started</h1>
            <p>Already have an account? <b> <a routerLink="/employer/empregister">Register</a>
                </b> </p>
                <form [formGroup]="companyswitch" (ngSubmit)="switchtoemployer()">
                    <div class="form-group">
                      <label for="companyName">Company Name:</label>
                      <input type="text" id="companyName" formControlName="empcompany" class="form-control" required>
                    </div>
                    <div class="form-group">
                      <label for="empmailid">Email:</label>
                      <input type="email" id="empmailid" formControlName="empmailid" class="form-control" required>
                      <div *ngIf="companyswitch.get('empmailid')?.hasError('required') && companyswitch.get('empmailid')?.touched" class="text-danger">
                        Email is required.
                      </div>
                      <div *ngIf="companyswitch.get('empmailid')?.hasError('email') && companyswitch.get('empmailid')?.touched" class="text-danger">
                        Please enter a valid email address.
                      </div>
                      <div *ngIf="companyswitch.get('empmailid')?.hasError('invalidGmail') && companyswitch.get('empmailid')?.touched" class="text-danger">
                        Email must end with @gmail.com.
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="emppass">Password:</label>
                      <input type="password" id="emppass" formControlName="emppass" class="form-control" required>
                      <div *ngIf="companyswitch.get('emppass')?.hasError('required') && companyswitch.get('emppass')?.touched" class="text-danger">
                        Password is required.
                      </div>
                    </div>
                    <button type="submit" class="btn custom-btn rounded-pill">Submit</button>
                  </form>
            <p>By creating an account, you agree to Indeed’s <a href="">Terms of Service</a> ,
                <a href="">Cookie Policy</a> and <a href="">Privacy Policy</a>. You consent to
                receiving marketing messages from Indeed and may opt out from receiving such
                messages by following the unsubscribe link in our messages, or as detailed in
                our terms.
            </p>
        </div>

    </div>
</div>
<app-footerc></app-footerc>