<div class="center-container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" *ngIf="showNavbar">
        <div class="container">
            <a class="navbar-brand" routerLink="/">
                <!-- <img src="assets/Job4jobless_logo.png" width="200" class="image-thumbnail d-inline-block align-top"> -->
                <img src="https://raw.githubusercontent.com/suraj9594/J4J-Website-Images/main/j4j%20Header%20logo.png" width="200" class="image-thumbnail d-inline-block align-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa-solid fa-bars-staggered"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item" >
                        <a class="nav-link" routerLinkActive="active"  aria-current="page" routerLink="/findjobs">Find Jobs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/blogs">Blogs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/employer" target="_blank">Employer</a>
                    </li>
                </ul>
                <button *ngIf="showDashboardButton" type="button" class="btn btn-success" routerLink="/dashboarduser"
                    [queryParams]="{ uid: uid, accessToken: accessToken }">Dashboard</button>
                <button *ngIf="!showDashboardButton" type="button" class="btn btn-custom rounded-pill"
                    routerLink="/login">Start job hunting <span class="mx-2"><i class="fa-solid fa-chevron-right"></i></span></button>
            </div>
        </div>
    </nav>
</div>
