.navbar {
    padding: 1.5rem;
    background-color: #ffffff !important;

}

.nav-link {
    color: #1E2E5C;
    margin-right: 50px;
}

.active {
    border-radius: 50px !important;
    color: #1E2E5C !important;
    background-color: #e0e9f5 !important;
    padding: 0.7em 2em !important;
}

nav {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.btn-custom {
    background-color: #e0e9f5;
    color: #1E2E5C; 
}
/* .container
{
    padding-right: 10%;
} */


