.floating-button-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 40px); /* Adjust according to your needs */
}

.left-buttons {
    display: flex;
}

/* .floating-button {
    background-color: #1E2E5C;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
    font-size: 1rem;
} */

.right-button {
    margin-left: auto; /* Pushes the button to the right */
}

.floating-button:not(:last-child) {
    margin-right: 10px; /* Add space between buttons */
}

.floating-button:hover {
    background-color: #2a3e75;
}

.floating-button{
    margin: 6%;
}

.container {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.right-button {
    margin-left: auto; /* Push the button to the right */
}
