<div class="container-fluid registerform my-5">

  <div class="row">
    <div class="col-12 col-md-8 offset-md-2">
      <!-- <h1 class="text-center" style="font-size: 1.5rem; text-shadow: 3px 3px 5px #888; color: black;">Ready to take the next step?</h1> -->
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="container form-container bg-white p-4 rounded">
            <h2 class="h4 mb-4">Registration</h2>

            <form [formGroup]="employerdetails" (ngSubmit)="empRegisteration()">
              <div class="form-group row">
                <div class="col">
                  <label for="empfname">First Name:*</label>
                  <input type="text" class="form-control" formControlName="empfname" placeholder="Enter First Name">
                  <div
                    *ngIf="employerdetails.get('empfname')?.hasError('required') && employerdetails.get('empfname')?.touched"
                    class="text-danger">First Name is required.
                  </div>
                  <div
                    *ngIf="employerdetails.get('empfname')?.hasError('pattern') && employerdetails.get('empfname')?.touched"
                    class="text-danger">Invalid Name.
                  </div>
                </div>
                <div class="col">
                  <label for="emplname">Last Name:*</label>
                  <input type="text" class="form-control" formControlName="emplname" placeholder="Enter Last Name">
                  <div
                    *ngIf="employerdetails.get('emplname')?.hasError('required') && employerdetails.get('emplname')?.touched"
                    class="text-danger">Last Name is required.
                  </div>
                  <div
                    *ngIf="employerdetails.get('emplname')?.hasError('pattern') && employerdetails.get('emplname')?.touched"
                    class="text-danger">Invalid Name.
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="empmailid">Email:*</label>
                <input type="email" class="form-control" formControlName="empmailid" placeholder="Enter Email">
                <div
                  *ngIf="employerdetails.get('empmailid')?.hasError('required') && employerdetails.get('empmailid')?.touched"
                  class="text-danger">Email is required.
                </div>
                <div
                  *ngIf="employerdetails.get('empmailid')?.hasError('email') && employerdetails.get('empmailid')?.touched"
                  class="text-danger">Please enter a valid email address.
                </div>
                <div
                  *ngIf="employerdetails.get('empmailid')?.hasError('pattern') && employerdetails.get('empmailid')?.touched"
                  class="text-danger">Please enter a valid email address.
                </div>
              </div>

              <div class="form-group">
                <label for="emppass">Password:*</label>
                <div class="password-wrapper">
                  <input type="password" class="form-control" id="password-input" formControlName="emppass"
                    placeholder="Enter Password">
                  <span class="toggle-password" (click)="togglePasswordVisibility()">
                    <i id="eye-icon" class="fa fa-eye-slash"></i>
                  </span>
                </div>

                <div
                  *ngIf="employerdetails.get('emppass')?.hasError('required') && employerdetails.get('emppass')?.touched"
                  class="text-danger">Password is required.
                </div>
                <div
                  *ngIf="employerdetails.get('emppass')?.hasError('minlength') && employerdetails.get('emppass')?.touched"
                  class="text-danger">Password must be at least 8 characters long.
                </div>
                <div
                  *ngIf="employerdetails.get('emppass')?.hasError('pattern') && employerdetails.get('emppass')?.touched"
                  class="text-danger">Password does not contains specific character.
                </div>
              </div>

              <div class="row">

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="empphone">Phone:*</label>
                    <input type="number" id="empphone" class="form-control" formControlName="empphone"
                      placeholder="Enter Phone" />
                    <div
                      *ngIf="employerdetails.get('empphone')?.hasError('required') && employerdetails.get('empphone')?.touched"
                      class="text-danger">Phone number is required.
                    </div>
                    <div
                      *ngIf="employerdetails.get('empphone')?.hasError('pattern') && employerdetails.get('empphone')?.touched"
                      class="text-danger">Please enter a valid phone number with 10 digits.
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="empcountry">Country:*</label>
                    <!-- <select class="form-control" formControlName="empcountry" placeholder="Select your country">
                      <option value="">Select a country</option>
                      <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
                    </select>-->

                    <select id="empcountry" class="form-control" formControlName="empcountry"
                      (change)="onCountryChange($event)">
                      <option value="">Select your country</option>
                      <option *ngFor="let country of countries" [value]="country.iso2">{{ country.name }}</option>
                    </select>

                    <div
                      *ngIf="employerdetails.get('empcountry')?.hasError('required') && employerdetails.get('empcountry')?.touched"
                      class="text-danger">Country is required.
                    </div>
                  </div>
                </div>
              </div>



              <div class="form-group">
                <label for="empstate">State:*</label>
                <!--                <input type="text" class="form-control" formControlName="empstate" placeholder="Enter your state">-->
                <select id="empstate" formControlName="empstate" class="form-control" (change)="onStateChange($event)">
                  <option value="">Select your state</option>
                  <option *ngFor="let state of states" [value]="state.iso2">{{ state.name }}</option>
                </select>

                <div
                  *ngIf="employerdetails.get('empstate')?.hasError('required') && employerdetails.get('empstate')?.touched"
                  class="text-danger">State is required.
                </div>
                <div
                  *ngIf="employerdetails.get('empstate')?.hasError('pattern') && employerdetails.get('empstate')?.touched"
                  class="text-danger">Invalid State Name.
                </div>
              </div>

              <div class="form-group">
                <label for="empcity">City:*</label>
                <!--                <input type="text" class="form-control" formControlName="empcity" placeholder="Enter your city">-->
                <select id="empcity" formControlName="empcity" class="form-control">
                  <option value="">Select your city</option>
                  <option *ngFor="let city of cities">{{ city.name }}</option>
                </select>

                <div
                  *ngIf="employerdetails.get('empcity')?.hasError('required') && employerdetails.get('empcity')?.touched"
                  class="text-danger">City is required.
                </div>
                <div
                  *ngIf="employerdetails.get('empcity')?.hasError('pattern') && employerdetails.get('empcity')?.touched"
                  class="text-danger">Invalid City Name.
                </div>
              </div>

              <div class="form-group">
                <label for="empcompany">Company:*</label>
                <input type="text" class="form-control" formControlName="empcompany"
                  placeholder="Enter name of the Company">
                <div
                  *ngIf="employerdetails.get('empcompany')?.hasError('required') && employerdetails.get('empcompany')?.touched"
                  class="text-danger">Company is required.
                </div>
                <div
                  *ngIf="employerdetails.get('empcompany')?.hasError('pattern') && employerdetails.get('empcompany')?.touched"
                  class="text-danger">Invalid Company Name.
                </div>
              </div>

              <div class="form-group">
                <label for="designation">Designation:*</label>
                <input type="text" class="form-control" formControlName="designation"
                  placeholder="Enter your designation">
                <div
                  *ngIf="employerdetails.get('designation')?.hasError('required') && employerdetails.get('designation')?.touched"
                  class="text-danger">Designation is required.
                </div>
                <div
                  *ngIf="employerdetails.get('designation')?.hasError('pattern') && employerdetails.get('designation')?.touched"
                  class="text-danger">Invalid Designation.
                </div>
              </div>

              <div>
                <div class="form-group d-flex align-items-center">
                  <input type="checkbox" (change)="toggleLinkedInputBox($event)">
                  <label for="emplinkden" class="github-label">Linked URL:</label>
                  <input *ngIf="showLinkedInputBox" type="url" class="form-control black-border"
                    formControlName="emplinkden" placeholder="Enter LinkedIn URL">
                </div>

                <div class="form-group d-flex align-items-center">
                  <input type="checkbox" (change)="toggleWebsiteInputBox($event)">
                  <label for="websiteUrl" class="github-label">Website URL:</label>
                  <input *ngIf="showWebsiteInputBox" type="url" class="form-control black-border"
                    formControlName="websiteUrl" placeholder="Enter Website URL">
                </div>

                <div class="form-group d-flex align-items-center">
                  <input type="checkbox" (change)="toggleOtherInputBox($event)">
                  <label for="empotherurl" class="github-label">Other URL:</label>
                  <input *ngIf="showOtherInputBox" type="url" class="form-control black-border"
                    formControlName="empotherurl" placeholder="Enter URL">
                </div>
              </div>

              <div class="form-group">
                <label for="descriptionemp">Description:*</label>
                <!-- <textarea class="form-control textar" formControlName="descriptionemp" placeholder=""></textarea> -->
                <angular-editor formControlName="descriptionemp" [placeholder]="'Enter text here...'"></angular-editor>
                <div
                  *ngIf="employerdetails.get('descriptionemp')?.hasError('required') && employerdetails.get('descriptionemp')?.touched"
                  class="text-danger">Description is required.
                </div>
              </div>
              <button type="submit" class="btn custom-btn rounded-pill mt-3"
                style=" background-color: #1e2e5c;  color: white;" [disabled]="loading" [disabled]="">
                Register
              </button>
              <button type="submit" class="btn custom-btn rounded-pill mt-3"
                style=" background-color: #1e2e5c;  color: white;" [disabled]="loading" (click)="verifyPasswordf()">
                If you have already registered, please complete your OTP verification
              </button>

              <!-- <angular-editor formControlName="summary" [placeholder]="'Enter text here...'"></angular-editor> -->
            </form>
            <div class="loader-overlay" *ngIf="loading">
              <div class="loader"></div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 text-center">
          <div class="container bg-white p-4 rounded">
            <button class="btn custom-button btn-lg" (click)="loginWithGoogle()"
              style="display: block; margin: 0 auto;">
              <i class="fab fa-google"></i> Sign Up with Google
            </button>
            <img src="assets/SignUP-01.jpg" alt="" width="100%">
          </div>
        </div>



      </div>
    </div>
    <!-- <div class="row mt-4">
      <div class="col-md-6">
        <div *ngIf="successMessage" class="alert alert-success">
          {{ successMessage }}
        </div>
        <div *ngIf="showWarning" class="alert alert-warning">
          User had not created!
        </div>
      </div>
    </div> -->
  </div>
</div>