<div class="container-fluid helpcss" style="background-color: grey">
    <div class="row">
        <div class="col-md-6">
            <div class="container" style="padding: 80px;">
                <div class="row">
                    <h3>Employer Help Center</h3>
                </div>
                <div class="row">
                    <h1>How can we help today?</h1>
                </div>
                <div class="row">
                    <div class="input-group">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 help-center">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="section-card border rounded p-4 scrollable-content" style=" background-color: aliceblue;">
                <h2 style="font-size: 2rem;  color: black;">My job4jobless Account</h2>
                <ul class="list-unstyled">
                    <li>How Do I Close My Account?</li>
                    <p> Account → Profile Picture/ Username → Account Settings → Close Account </p>
                    <li>How Do I Reset My Password?</li>
                    <p> login page → Forgot Password → Enter Email →Click on the link sent on mail → Reset Password →
                        Log in with new password
                    </p>
                    <li>I Can't Sign In To My Account</li>
                    <ol>
                        <li>Experiencing difficulties signing in to your Job 4 Jobless account? Follow these
                            troubleshooting tips:</li>
                        <li>Double-check your email address or username: Ensure you're entering the correct email or
                            username associated with your account.</li>
                        <li>Password Reset: If you've forgotten your password, click on the "Forgot Password" link and
                            reset it, as explained above.</li>
                        <li> Browser and Cookies: Clear your browser cache and cookies, which can sometimes cause
                            sign-in issues.</li>
                        <li> Account Recovery: If your account is still inaccessible, contact our customer support team
                            for assistance.</li>
                    </ol>
                    <li>WhatsApp and job4jobless: Phone-Number-Only Accounts</li>
                    <p> At Job 4 Jobless, we understand the importance of simplifying your job search process. You can
                        now create a Job 4 Jobless account using only your WhatsApp phone number. Here's how it works
                    </p>
                    <li> <b> Sign up → Verify → Start Job Hunting</b> </li>
                    <p>
                        Once verified, you can start exploring job opportunities and connecting with employers – all
                        with the simplicity of WhatsApp.</p>

                    <p>Using your WhatsApp phone number offers a quick and convenient way to access the Job 4 Jobless
                        platform, making your job search experience seamless and efficient.</p>
                    For any further assistance or queries, please don't hesitate to contact our support team.

                    <p>Note: This content is a general guideline and can be further customized as per your website's
                        design and branding.</p>




                </ul>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="section-card border rounded p-4 scrollable-content" style=" background-color: aliceblue;">
                <h2 style="font-size: 2rem;  color: black;">Company Pages & Reviews</h2>
                <p>Company review is very crucial for any applicant. It helps them make the right decisions about
                    whether they should apply for a job at a specific company or not. Your input like reviews, photos,
                    and salaries can help others. These review pages are very helpful in understanding job seekers who
                    are genuinely looking for a job </p>

                <ul class="list-unstyled">
                    <li>How Do I See All Reviews on Company Pages?</li>
                    <p> Before applying are you curious to know what current and former employees say about a particular
                        company? job4jobless provides a simple and intuitive way to access company reviews:</p>
                    <b> Search for the Company→ Select the Company Page→ Scroll Through Reviews→ Filter & Sort→Read</b>
                    <p> Remember that reviews can vary based on individual experiences. Read multiple reviews to gain a
                        balanced perspective of the company. Focus on patterns and trends in the feedback.
                    </p>
                    <li>How to Add and Delete Your Company Reviews</li>
                    <p> job4jobless values the community's input and encourages users to share their experiences by
                        leaving company reviews. Here's how to contribute your insights and, if needed, delete your
                        reviews:</p>
                    <li>Adding Your Company Review: </li>
                    <p> Login→Search for the Company→Access the Review Section→Share Your Experience→ Submit</p>
                    <li>Deleting Your Company Review: </li>
                    <p> Login →Access Your Profile →View Your Reviews →Edit or Delete →Confirm Deletion </p>
                    <p> job4jobless believes in the power of honest and transparent reviews, as they can significantly
                        impact a job seeker's decision. However, it's crucial to adhere to ethical guidelines when
                        writing reviews and only remove them if they violate them or the circumstances have changed.
                    </p>
                </ul>
            </div>
        </div>


        <div class="col-md-4 mb-4">
            <div class="section-card border rounded p-4 scrollable-content" style=" background-color: aliceblue;">
                <h2 style="font-size: 2rem;  color: black;">Job Alerts</h2>
                <ul class="list-unstyled">
                    <li>Starting Job Alerts</li>
                    <li>
                        Stay ahead in your job search with job4jobless job alerts. Here's how to get started:
                        <ol>
                            <li><b>Sign In:</b> Log in to your job4jobless account.</li>
                            <li><b>Set Up Your Profile:</b> Make sure your profile is complete and up to date, including
                                your preferred job location, industry, and job type.</li>
                            <li><b>Search for Jobs:</b> Run a job search with your desired criteria. This is what you
                                want to receive alerts about.</li>
                            <li><b>Activate Alerts:</b> After your search results appear, click on the "Set Job Alert"
                                or "Create Job Alert" button, which is usually located near the search bar.</li>
                            <li><b>Customize Your Alert:</b> Specify how often you want to receive alerts (daily,
                                weekly), and whether you prefer email or mobile notifications.</li>
                            <li><b>Save Alert:</b> Confirm your choices and save the alert. You're all set!</li>
                        </ol>
                        Now, you'll receive job alerts matching your search criteria directly to your inbox or mobile
                        device, keeping you updated on the latest job opportunities.
                    </li>
                    <br>
                    <li>Stopping Job Alerts</li>
                    <li>
                        In order to stop receiving job alerts, you can easily manage your alerts through your
                        job4jobless account. Here's how:
                        <ol>
                            <li><b>Log In : </b> Sign in to your job4jobless account.</li>
                            <li><b>Access Alerts :</b> Navigate to the "Job Alerts" section in your account settings.
                            </li>
                            <li><b>View Alerts :</b> You will see a list of your active job alerts.</li>
                            <li><b>Pause or Delete :</b> You have two options:
                                <ul>
                                    <li>Pause Alert: If you want to temporarily stop receiving alerts, click the "Pause"
                                        or "Suspend" button next to the alert you wish to stop temporarily.</li>
                                    <li>Delete Alert: To permanently stop receiving alerts, click the "Delete" or
                                        "Remove" button next to the alert you want to discontinue.</li>
                                </ul>
                            </li>
                            <li><b>Confirm : </b> Confirm your choice, and the alert will be paused or deleted.</li>
                            <p>Follow these steps to easily manage your job alerts, ensuring you receive only the
                                notifications that matter to you.</p>
                            <p>Job alerts are a convenient way to stay updated on job openings that match your
                                preferences, and job4jobless makes it easy to start or stop them according to your needs
                                and preferences.</p>
                        </ol>
                    </li>

                </ul>
            </div>
        </div>




        <!-- Add more sections here using the same structure -->
    </div>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="section-card border rounded p-4 scrollable-content" style=" background-color: aliceblue;">
                <h2 style="font-size: 2rem;  color: black;">Job Search Tips</h2>
                <ul class="list-unstyled">
                    <li>Getting Started With Your Job Search</li>
                    <p> Job Search Tips can help a jobless person find a relevant job at ease. These tips are highly
                        beneficial and help them look for work that aligns with their requirements and demands.</p>

                    <p>Finding work that you can enjoy and that pays you well can be difficult with such an economic
                        crisis. If you are also facing a hard time in searching for your dream job you should follow
                        tips and tricks for job search. Here we are going to discuss some Job Search Tips to help you
                        find work that suits your soul.
                    </p>
                    <li>Tips for Finding jobs</li>

                    <ul>
                        <li> <b>Build a solid resume</b> </li>
                        <p>Finding a good job is no longer challenging if you have built a solid resume for yourself.
                            Your resume represents where you have been, what you are looking for, and what you have. It
                            practically speaks for you, represents you, and establishes your first impression. Building
                            a good resume is essential if you want to get your dream job. </p>
                        <li> <b> Internships </b></li>
                        <p>Internships add value to your resume if you are not experienced. It can be a great way of
                            creating professional connections and kicking off your career well. With some internships,
                            you can learn team management, teamwork, office ethics, speaking skills, and more. Further,
                            it helps eliminate any hesitations and helps you develop solid confidence.

                            That is why it is essential to do hard work and put in your best efforts throughout the
                            internship. Also, you need to learn from your mistakes during your internship period and
                            take on more responsibilities before you get comfortable with your work. It is one of our
                            most prominent job search tips.
                        </p>

                        <li> <b> Follow Company websites </b></li>
                        <p> If you have a specific niche for jobs, search for different websites that release job
                            vacancies. Regularly looking up the industry can help you understand what is required to get
                            a job in the company. This can boost your confidence and help you reach your goal
                            effortlessly.

                            Another benefit of following company websites is that it will show you what the company is
                            offering and how it functions. Through this, you can determine whether you will be able to
                            fit in or not. Leaving the job after being hired can negatively impact you and staying where
                            you don’t enjoy it is definitely not worth it</p>
                        <li> <b> Keep track of vacancies </b></li>
                        <p> This is one of the most crucial job search tips. Keeping track of different companies and
                            vacancies can help you look for jobs that suit your niche. When the vacancies are out, you
                            can quickly grab the opportunity and get into an interview. From here, you can get hired
                            depending on the interview. Additionally, you can find crucial information such as the
                            hiring requirements, what the company offers, how it treats the staff, and more. </p>
                        <li> <b> Brief yourself </b></li>
                        <p> When you are selected for an interview, the first question you will get asked is to brief
                            yourself. To avoid hesitation, develop a brief introduction where you mention everything
                            about yourself. This includes your education, experience, knowledge, hobbies, background,
                            and interests </p>
                    </ul>

                    <!-- <li>Reporting a Job</li> -->
                </ul>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="section-card border rounded p-4 scrollable-content" style=" background-color: aliceblue;">
                <h2 style="font-size: 2rem;  color: black;">job4jobless Resume</h2>
                <ul class="list-unstyled">
                    <li>How to Replace Your Resume on job4jobless</li>
                    <p>Updating your resume on JOB 4 JOBLESS is a straightforward process. Here's how to replace your
                        existing resume:

                    </p>
                    <b> Sign In→ Access Your Profile→ Go to Resume→ Replace Resume or Upload New Resume→ Choose File→
                        Upload New Resume</b>
                    <p> Your updated resume will now be visible to potential employers</p>
                    <li>How to Post or Upload a Resume</li>
                    <p> Posting or uploading your resume on JOB 4 JOBLESS is a crucial step in your job search. Here's
                        how to do it:</p>
                    <b> Sign In→ Access Your Profile→ Go to Resume→ Upload Resume→ Choose File→ Upload Resume or Submit
                    </b>
                    <p> Your resume is now available for potential employers to view when you apply for jobs on Job 4
                        Jobless</p>
                    <li>How to View Your Resume on job4jobless</li>
                    <p> Knowing how your resume appears to potential employers is essential. Here's how to view your
                        resume on job4jobless:

                    </p>
                    <b>
                        Sign In→ Access Your Profile→ Go to Resume→ View Resume
                    </b>
                    <p> You can review your resume's content and layout to ensure it accurately represents your
                        qualifications and experience.

                        By following these steps, you can effortlessly manage your resume on Job 4 Jobless, keeping it
                        up-to-date and easily accessible to potential employers. Your resume is an important tool in
                        your job search, so be sure to maintain it regularly.

                    </p>
                </ul>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="section-card border rounded p-4 scrollable-content" style=" background-color: aliceblue;">
                <h2 style="font-size: 2rem;  color: black;"> <b>Apply for a Job on job4jobless </b></h2>
                <p> Applying for a job on job4jobless is very easy and gets you started in minutes. The steps are really
                    easy and you can find your dream job in minutes.

                    If you are tired of scrolling hundreds of websites, you have come to the right place. With us, you
                    can easily find work that entertains you, interests you, and keeps you going and motivated. Here is
                    how you can apply for a job on job4jobless:-
                </p>
                <br>
                <b> Visit website → Home page → Sign in → Search desired job type/ company → Scroll & Apply </b>
                <br>

                <h4><b>Things to take care of while applying</b></h4>
                <p>
                    It is a sole reminder that job4jobless does not ask for any payments or extra credit. To prevent any
                    mishappening please go through the guidelines below:-
                </p>
                <ul>
                    <li> <b> Do not make any payment to recruiters

                        </b>
                        <p> job4jobless is an open-source platform and does not ask for any payments or advanced
                            credits. Any recruiter asking for wages should be avoided and reported. Any payments made
                            will not be the responsibility of job4jobless.
                        </p>
                    </li>
                    <li><b>Do not make inappropriate connections
                        </b>
                        <p>job4jobless is a professional website solely made to search and find jobs online. Making any
                            inappropriate connections is strictly prohibited and your account may get banned. Ensure
                            keeping your information professional and secure.
                        </p>
                    </li>
                    <li> <b> Do not share sensitive information</b></li>
                    <p> job4jobless does not require you to share any sensitive information. Anyone asking for
                        confidential details such as Aadhar card number, PAN number, bank details, and more will be
                        restricted and banned.
                    </p>
                    <li> <b> Keep a check on the recruiter </b></li>
                    <p> When you are applying for the job, make sure to go through the website of the company, their
                        location, reviews, and requirements. This can eliminate future hassles and help you get going
                        seamlessly.

                    </p>
                </ul>
                <ul class="list-unstyled">

                </ul>
            </div>
        </div>

        <!-- Add more sections here using the same structure -->
    </div>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="section-card border rounded p-4 scrollable-content" style=" background-color: aliceblue;">
                <h2 style="font-size: 2rem;  color: black;">job4jobless Assessments</h2>
                <p> job4jobless Assessment tests help employers find experienced and as-needed candidates. Most
                    companies use this assessment test to make significant hiring decisions, frequently during the
                    initial stages of the interviewing process. An assessment test is very useful for both employers as
                    well as applicants. It saves employers time and ensures they hire the most calibre employees for the
                    company. </p>

                <ul class="list-unstyled">
                    <li>What are job4jobless Assessments?</li>
                    <p> job4jobless assessments are created for employers that help to find calibre candidates easily.
                        In these assessments, employers can share skill tests with candidates to ensure which one is
                        performing well and best for the job role. It is very easy to use by both employers and
                        candidates. The main goal of job4jobless to provide this service is to enhance the experiences
                        of the Hiring Managers and ensure that applicants get their dreamy jobs quickly. </p>

                    <li>How to Send Your Assessment Results to an Employer</li>
                    <p> You can send your assessment results to an employer with just one click. Candidates in
                        job4jobless do not need to go through a lengthy process. They can easily attempt an assessment
                        that employers provide and after completing the assessment submit it to them simply.</p>

                </ul>
                <h3> Types of Job Assessments </h3>
                <p> Assessment tests for jobs vary depending on industry and company goals. For example, a business that
                    selects employees based on cultural fit may conduct tests to analyse your work style or personality.
                    Here are seven types of job assessments that you could face: </p>
                <ol>
                    <li> <b> Skills Assessment Tests</b>Skills assessment tests analyse an applicant’s skills. Employers
                        may use situations to test soft skills like critical thinking by asking you to explain how you
                        would approach or resolve them. Many companies hire professionals by skill assessment tests
                        because they are objective and trustworthy. </li>
                    <li> <b> Job knowledge Tests </b></li> Job knowledge tests analyse an applicant’s expertise in a
                    particular field. Employers may use these tests for selecting job positions that require a high
                    level of experience or specialised knowledge. These tests consider your present knowledge rather
                    than your learning capacity.
                    <li> <b> Personality Tests </b></li> Personality tests determine a candidate's interests,
                    preferences, motivation, and interactions. These tests are primarily used to determine whether
                    applicants are culturally compatible with the company or not.
                    <li> <b> Cognitive Ability Tests</b></li> Cognitive ability tests assess a candidate's thought
                    processes, such as reasoning, problem-solving, memory and perception. These tests also include IQ
                    and general aptitude tests. It considers candidates' ability to solve issues or learn new things
                    <li> <b> Emotional Intelligence Tests</b></li> It assesses a candidate's self-awareness,
                    understanding of others, and emotional and relationship management abilities. This is one of the
                    essential tests for jobs that need robust interpersonal skills or leadership
                    <li> <b> Integrity Tests</b></li> Integrity tests to determine a candidate's honesty and
                    trustworthiness. The two types of integrity tests include the Over Integrity Test and the Covert
                    Integrity Test
                    <li> <b> Physical Ability Test </b></li> Physical Ability Test used to analyse applicant’s strength.
                    These tests are essential for those types of jobs that need heavy lifting or being on your feet for
                    the day.



                </ol>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="section-card border rounded p-4 scrollable-content" style=" background-color: aliceblue;">
                <h2 style="font-size: 2rem; color: black;">Technical Support</h2>
                <ul class="list-unstyled">
                    <li>How to Clear Your Cache and Cookies</li>
                    <p> Clearing your cache and cookies can resolve various browsing issues. Follow these steps to do
                        it:</p>
                    <b> Open Your Browser→ Settings→ select "Privacy" or "Security."→ Clear Data→ Choose Time Range→
                        Clear Data" or "Clear Browsing Data"
                    </b>
                    <p> This process may vary slightly depending on your browser. After clearing your cache and cookies,
                        try returning to Job 4 Jobless again to see if the issue is resolved.</p>

                    <li>Updating Your Web Browser</li>
                    <p> Ensures optimal performance and security by keeping your browser up-to-date. Here's how to
                        update it:
                    </p>
                    <h3> Google chrome </h3>
                    <b> Open Chrome→ Menu→ Help→ About Google Chrome

                    </b>
                    <p> Chrome automatically checks for updates and install them if available</p>

                    <h3> Mozilla Firefox:</h3>
                    <b> Open Firefox→ Menu→ Help→ About Google Firefox
                    </b>
                    <p> Firefox checks for updates and install them if they are available. </p>

                    <h3> Safari (on Mac): </h3>
                    <b> Open the App Store→Search Safari→ Updates</b>
                    <p> After updating your browser, clear your cache and cookies if necessary and try accessing
                        job4jobless again.
                    </p>

                    <li>Troubleshooting Device Issues With job4jobless Interview</li>
                    <p> Experiencing device-related issues with Job 4 Jobless Interview? Here are some steps to
                        troubleshoot:
                    </p>
                    <ol>
                        <li> <b> Internet Connection:</b> Ensure you have a stable internet connection. A slow or poor
                            connection can lead to issues during video interviews.
                        </li>
                        <li> <b> Browser Compatibility: </b>job4jobless Interview is optimized for certain browsers.
                            Check Job 4 Jobless's system requirements and use a recommended browser for the best
                            experience.
                        </li>
                        <li> <b> Camera and Microphone Access: </b> Grant your browser permission to access your camera
                            and microphone. Ensure they are correctly connected and functional.

                        </li>
                        <li> <b> App or Web Version: </b> If you're using a mobile device, make sure you have the latest
                            version of the Job 4 Jobless Interview app. If on a computer, use the web version</li>

                        <li> <b> Browser Extension: </b>Disable or troubleshoot browser extensions that might interfere
                            with the video interview process.

                        </li>
                        <li> <b> Test your setup: </b> Use the job4jobless Interview test feature to verify that your
                            camera, microphone, and internet connection are working correctly before the actual
                            interview. </li>
                        <p> If you continue to experience issues, reach out to job4jobless's technical support for
                            further assistance.

                            By following these steps, you can address common technical issues and ensure a smooth
                            experience while using Job 4 Jobless Interview.
                        </p>
                    </ol>


                </ul>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="section-card border rounded p-4 scrollable-content" style=" background-color: aliceblue;">
                <h2 style="font-size: 2rem; color: black;">Accessibility</h2>
                <ul class="list-unstyled">
                    <li>Screen Reader Compatibility</li>
                    <p> At Job 4 Jobless, we are committed to ensuring that our platform is accessible to all users,
                        including those who rely on screen readers. Here's how to make the most of Job 4 Jobless with a
                        screen reader:
                    </p>
                    <ul>
                        <li> <b> Screen Reader Software:</b></li> Ensure you have screen reader software installed on
                        your device. Popular options include JAWS, NVDA, and VoiceOver.
                        <li> <b> Access job4jobless:</b></li> Open your preferred web browser and navigate to the Job 4
                        Jobless website.
                        <li> <b> Navigation:</b></li> Screen reader users can navigate the site using keyboard
                        shortcuts, such as headings (H), links (L), and form fields (F).
                        <li> <b> Alt Text:</b></li> Images and buttons on Job 4 Jobless are designed with meaningful alt
                        text, allowing screen reader users to understand their purpose.
                        <li> <b> Accessible Forms:</b></li> We've designed forms with labels, ARIA landmarks, and
                        fieldsets to provide a seamless experience for screen reader users.
                        <li> <b> Video Transcripts:</b></li>Video content on Job 4 Jobless often includes transcripts or
                        captions to ensure accessibility.

                    </ul>
                    <br>
                    <br>
                    <li>Keyboard Navigation</li>
                    <p> Keyboard navigation is crucial for users who cannot or prefer not to use a mouse. Job 4 Jobless
                        is designed with keyboard users in mind:
                    </p>
                    <li> <b> Tab abd Arrow Keys:</b></li> You can navigate Job 4 Jobless using the "Tab" key to move
                    between elements, and the arrow keys to scroll and select options
                    <li> <b> Keyboard shortcuts:</b></li> We provide keyboard shortcuts for common actions, like
                    submitting a job application or accessing your profile
                    <li> <b> Focus Indicators:</b></li> We use clear and visible focus indicators to help keyboard users
                    identify which element is currently selected.
                    <li> <b> Skip to content:</b></li>We include a "Skip to Content" link at the beginning of each page
                    to bypass repetitive navigation and directly access the main content.
                    <li> <b> Accessible Forms:</b></li> Forms are designed to be filled out using only the keyboard,
                    with logical tab orders and clear labels.
                    <br>
                    <br>
                    <li>Contrast and Color Settings</li>
                    <p> Job 4Jobless offers customizable contrast and color settings to accommodate a range of user
                        preferences: </p>
                    <li> <b> High Contrast Mode:</b></li> We provide a high contrast mode option that increases text
                    readability by enhancing color contrast
                    <li> <b> Dark Mode:</b></li>Users can switch to a dark mode for a more comfortable screen experience
                    in low-light conditions.
                    <li> <b> Custom Color Schemas:</b></li> We offer the ability to customize the platform's color
                    schemes to meet individual preferencesWe offer the ability to customize the platform's color schemes
                    to meet individual preferencesWe offer the ability to customize the platform's color schemes to meet
                    individual preferencesWe offer the ability to customize the platform's color schemes to meet
                    individual preferencesWe offer the ability to customize the platform's color schemes to meet
                    individual preferencesWe offer the ability to customize the platform's color schemes to meet
                    individual preferences
                    <li> <b> Accessible Fonts:</b></li>We use accessible fonts and text sizes to ensure readability for
                    users with visual impairments.
                    <br>
                    <br>
                </ul>
                <p> We are continuously working to improve and upgrade accessibility on Job 4 Jobless and welcome user
                    feedback to enhance the experience further.

                    At Job 4 Jobless, we strive to provide an inclusive platform where every user can access and
                    interact with our services.
                </p>
            </div>
        </div>
    </div>
</div>


<app-footerc></app-footerc>