<div class="container shadow">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <div class="col">
          <h2 class="text-dark text-center"><b>Create A Job Post</b></h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="progress mb-4">
    <div class="progress-bar" role="progressbar" [style.width]="(currentStep / totalSteps * 100) + '%'"></div>
  </div>
  <h2 class="text-center mb-4">Job Details</h2>
  <form [formGroup]="jobPostForm" (ngSubmit)="jobDetailsForm(jobPostForm)">
    <div *ngIf="currentStep === 1">

      <div class="mb-3">
        <label for="empName" class="form-label">Name*</label>
        <input type="text" class="form-control" id="empName" formControlName="empName" placeholder="Enter your name"
          required>
        <div *ngIf="jobPostForm.get('empName')?.hasError('required')  && jobPostForm.get('empName')?.touched"
          class="text-danger">
          Name is required.
        </div>
        <div *ngIf="jobPostForm.get('empName')?.hasError('invalidName') && jobPostForm.get('empName')?.touched"
          class="text-danger">
          Name cannot contain special characters or numbers.
        </div>
      </div>
      <div class="mb-3">
        <label for="empEmail" class="form-label">Email*</label>
        <input type="email" class="form-control" id="empEmail" formControlName="empEmail" placeholder="Enter your email"
          required>
        <div *ngIf="jobPostForm.get('empEmail')?.hasError('required')  && jobPostForm.get('empEmail')?.touched"
          class="text-danger">
          Email is required.
        </div>
        <div *ngIf="(jobPostForm.get('empEmail')?.hasError('email') || jobPostForm.get('empEmail')?.hasError('pattern')) && jobPostForm.get('empEmail')?.touched"
          class="text-danger">Please enter a valid email address.
        </div>
        <!-- <div *ngIf="jobPostForm.get('empEmail')?.hasError('pattern') && jobPostForm.get('empEmail')?.touched"
          class="text-danger">Please enter a valid email address.
        </div> -->
      </div>
      <div class="mb-3">
        <label for="jobtitle" class="form-label">Job Title*</label>
        <input type="text" class="form-control" id="jobtitle" formControlName="jobtitle" placeholder="Enter Job title"
          required>
        <div *ngIf="jobPostForm.get('jobtitle')?.hasError('required') && jobPostForm.get('jobtitle')?.touched"
          class="text-danger">
          Job Title is required.
        </div>
        <div *ngIf="jobPostForm.get('jobtitle')?.hasError('pattern') && jobPostForm.get('jobtitle')?.touched"
          class="text-danger">
          Job Title cannot contain special character.
        </div>
      </div>

      <div class="mb-3">
        <label for="companyforthisjob" class="form-label">Company Name*</label>
        <input type="text" class="form-control" id="companyforthisjob" formControlName="companyforthisjob"
          placeholder="Enter the Company Name" required>
        <div
          *ngIf="jobPostForm.get('companyforthisjob')?.hasError('required') && jobPostForm.get('companyforthisjob')?.touched"
          class="text-danger">
          Company Name is required.
        </div>
        <div
          *ngIf="jobPostForm.get('companyforthisjob')?.hasError('pattern') && jobPostForm.get('companyforthisjob')?.touched"
          class="text-danger">
          Company Name cannot contain special character.
        </div>
      </div>
      <div class="d-flex justify-content-end">
        <button class="btn custom-btn rounded-pill" (click)="nextStep()"
          [disabled]="!jobPostForm.get('empName')?.valid || !jobPostForm.get('empEmail')?.valid || !jobPostForm.get('jobtitle')?.valid || !jobPostForm.get('companyforthisjob')?.valid">Next</button>
      </div>
    </div>
    <div *ngIf="currentStep === 2">
      <!-- Step 2: Job Details -->
      <div class="mb-3">
        <label for="numberofopening" class="form-label">Vacancies*</label>
        <input type="number" class="form-control" id="numberofopening" formControlName="numberofopening"
          placeholder="Enter the number of vacancies" required>
        <div
          *ngIf="jobPostForm.get('numberofopening')?.hasError('required') && jobPostForm.get('numberofopening')?.touched"
          class="text-danger">
          Number of Openings is required.
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="mb-3">
            <label for="country" class="form-label">Country:*</label>
            <select class="form-control" id="country" formControlName="country" (change)="onCountryChange($event)" placeholder="Select your country"
              required>
              <option value="">Select your country</option>
              <option *ngFor="let country of countries" [value]="country.iso2">{{ country.name }}</option>
            </select>
            <div *ngIf="jobPostForm.get('country')?.hasError('required') && jobPostForm.get('country')?.touched"
              class="text-danger">
              Country is required.
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-3">
            <label for="state" class="form-label">State:*</label>
            <!--<input type="text" class="form-control" id="state" formControlName="state" placeholder="Enter the state"
              required>-->

  <select id="state" class="form-control" formControlName="state" (change)="onStateChange($event)">
<option value="">Select your state</option>
    <option *ngFor="let state of states" [value]="state.iso2">{{ state.name }}</option>
  </select>
            <div *ngIf="jobPostForm.get('state')?.hasError('required') && jobPostForm.get('state')?.touched"
              class="text-danger">
              State is required.
            </div>
            <div *ngIf="jobPostForm.get('state')?.hasError('pattern') && jobPostForm.get('state')?.touched"
              class="text-danger">
              Invalid state.
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-3">
            <label for="city" class="form-label">City:*</label>
            <!--<input type="text" class="form-control" id="city" formControlName="city" placeholder="Enter the city"
              required>-->
  <select id="city" formControlName="city" class="form-control">
<option value="">Select your city</option>
    <option *ngFor="let city of cities">{{ city.name }}</option>
  </select>
            <div *ngIf="jobPostForm.get('city')?.hasError('required') && jobPostForm.get('city')?.touched"
              class="text-danger">
              City is required.
            </div>
            <div *ngIf="jobPostForm.get('city')?.hasError('pattern') && jobPostForm.get('city')?.touched"
              class="text-danger">
              Invalid City.
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="locationjob" class="form-label">Location:*</label>
        <input type="text" class="form-control" id="locationjob" formControlName="locationjob" placeholder="Location"
          readonly>
        <div *ngIf="jobPostForm.get('locationjob')?.hasError('required') && jobPostForm.get('locationjob')?.touched"
          class="text-danger">
          Location is required.
        </div>
      </div>
      
      <div class="mb-3">
        <label for="experience" class="form-label">Experience:*</label>
        <input type="number" class="form-control" id="experience" formControlName="experience"
          placeholder="Enter the experience" required>
        <div *ngIf="jobPostForm.get('experience')?.hasError('required') && jobPostForm.get('experience')?.touched"
          class="text-danger">
          Experience is required.
        </div>
      </div>

      <div class="mb-3">
        <label for="jobtype" class="form-label">Job Type*</label>
        <select class="form-select" id="jobtype" formControlName="jobtype">
          <option value="Full-Time">Full-Time</option>
          <option value="Part-Time">Part-Time</option>
          <option value="Remote">Remote</option>
          <option value="Hybrid">Hybrid</option>
          <option value="Freelance">Freelance</option>
        </select>
        <div *ngIf="jobPostForm.get('jobtype')?.hasError('required') && jobPostForm.get('jobtype')?.touched"
          class="text-danger">
          Required.
        </div>
      </div>
      <div class="mb-3">
        <label for="schedulejob" class="form-label">Schedule*</label>
        <select class="form-select" formControlName="schedulejob">
          <option value="" disabled selected>Select Schedule</option>
          <option value="Morning Shift">Morning Shift</option>
          <option value="Day Shift">Day Shift</option>
          <option value="Flexible">Flexible Hours</option>
          <option value="Night Shift">Night Shift</option>
        </select>
        <div *ngIf="jobPostForm.get('schedulejob')?.hasError('required')  && jobPostForm.get('schedulejob')?.touched"
          class="text-danger">
          Required.
        </div>
      </div>
      <div class="mb-3">
        <label for="payjobType" class="form-label">Pay*</label>
        <select class="form-select" formControlName="payjobType">
          <option value="Range">Range</option>
          <option value="Starting_amount">Starting amount</option>
          <option value="Maximum_Amount">Maximum Amount</option>
          <option value="Exact_Amount">Exact Amount</option>
        </select>
        <div *ngIf="jobPostForm.get('payjobType')?.hasError('required')  && jobPostForm.get('payjobType')?.touched"
          class="text-danger">
          Required.
        </div>
      </div>
      <div class="row">
        <div class="col-md-12" *ngIf="jobPostForm.get('payjobType')?.value === 'Range'">
          <div class="mb-3">
            <!-- <label for="country" class="form-label">Country:*</label> -->
            <div class="d-flex">
              <!-- Minimum input column -->
              <label for="minAmount" class="form-label" required>Minimum:*</label>
              <input type="number" class="form-control me-2" id="minAmount" formControlName="minAmount"
                placeholder="Minimum" onchange="updatePayJobValue()" required >
              <!-- Maximum input column -->
              <label for="maxAmount" class="form-label" required>Maximum:*</label>
              <input type="number" class="form-control me-2" id="maxAmount" formControlName="maxAmount"
                placeholder="Maximum" onchange="updatePayJobValue()" required>
              <!-- Dropdown for the third input -->
              <label for="rate" class="form-label">Rate:*</label>
              <select class="form-select" id="rate" formControlName="rate" onchange="updatePayJobValue()" required>
                <option value="">Select</option>
                <option value="Per_Hour">Per Hour</option>
                <option value="Per_Day">Per Day</option>
                <option value="Per_Week">Per Week</option>
                <option value="Per_Month">Per Month</option>
                <option value="Per_Year">Per Year</option>
              </select>
            </div>
            <div *ngIf="jobPostForm.get('minAmount')?.hasError('required')  && jobPostForm.get('minAmount')?.touched"
              class="text-danger">
              Minimum Amount is Required
            </div>
            <div *ngIf="jobPostForm.get('maxAmount')?.hasError('required')  && jobPostForm.get('maxAmount')?.touched"
              class="text-danger">
              Maximum Amount is Required.
            </div>
            <div *ngIf="jobPostForm.get('rate')?.hasError('required')  && jobPostForm.get('rate')?.touched"
              class="text-danger">
              Rate is Required.
            </div>
          </div>
        </div>
        <div class="col-md-12" *ngIf="jobPostForm.get('payjobType')?.value === 'Starting_amount'">
          <div class="mb-3">
            <div class="d-flex">
              <label for="amount" class="form-label">Starting Amount:*</label>
              <input type="number" class="form-control me-2" id="amount" formControlName="amount"
                placeholder="Starting Amount" onchange="updatePayJobValue()" required>
              <label for="rate" class="form-label">Rate:*</label>
              <select class="form-select" id="rate" formControlName="rate" onchange="updatePayJobValue()" required>
                <option value="">Select</option>
                <option value="Per_Hour">Per Hour</option>
                <option value="Per_Day">Per Day</option>
                <option value="Per_Week">Per Week</option>
                <option value="Per_Month">Per Month</option>
                <option value="Per_Year">Per Year</option>
              </select>
              <div *ngIf="jobPostForm.get('amount')?.hasError('required') && jobPostForm.get('amount')?.touched"
                class="text-danger">
                Please fill the amount.
              </div>
              <div *ngIf="jobPostForm.get('rate')?.hasError('required')  && jobPostForm.get('rate')?.touched"
                class="text-danger">
                Rate is Required.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8" *ngIf="jobPostForm.get('payjobType')?.value === 'Exact_Amount'">
          <div class="mb-3">
            <div class="d-flex">
              <label for="amount" class="form-label">Exact Amount:*</label>
              <input type="number" class="form-control me-2" id="amount" formControlName="amount"
                placeholder="Exact Amount" onchange="updatePayJobValue()" required>
              <div style="margin-left: 10%;" class="col-md-4">
                <label for="rate" class="form-label">Rate:*</label>
                <select class="form-select" id="rate" formControlName="rate" onchange="updatePayJobValue()" required>
                  <option value="">Select</option>
                  <option value="Per_Hour">Per Hour</option>
                  <option value="Per_Day">Per Day</option>
                  <option value="Per_Week">Per Week</option>
                  <option value="Per_Month">Per Month</option>
                  <option value="Per_Year">Per Year</option>
                </select>
              </div>
              <div *ngIf="jobPostForm.get('amount')?.hasError('required') && jobPostForm.get('amount')?.touched"
                class="text-danger">
                Please fill the amount.
              </div>
              <div *ngIf="jobPostForm.get('rate')?.hasError('required')  && jobPostForm.get('rate')?.touched"
                class="text-danger">
                Rate is Required.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12" *ngIf="jobPostForm.get('payjobType')?.value === 'Maximum_Amount'">
          <div class="mb-3">
            <div class="d-flex">
              <label for="amount" class="form-label">Maximum Amount:*</label>
              <input type="number" class="form-control me-2" id="amount" formControlName="amount"
                placeholder="Exact Amount" onchange="updatePayJobValue()" required>
              <label for="rate" class="form-label">Rate:*</label>
              <select class="form-select" id="rate" formControlName="rate" onchange="updatePayJobValue()" required>
                <option value="">Select</option>
                <option value="Per_Hour">Per Hour</option>
                <option value="Per_Day">Per Day</option>
                <option value="Per_Week">Per Week</option>
                <option value="Per_Month">Per Month</option>
                <option value="Per_Year">Per Year</option>
              </select>
              <div *ngIf="jobPostForm.get('amount')?.hasError('required') && jobPostForm.get('amount')?.touched"
                class="text-danger">
                Please fill the amount.
              </div>
              <div *ngIf="jobPostForm.get('rate')?.hasError('required')  && jobPostForm.get('rate')?.touched"
                class="text-danger">
                Rate is Required.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="payjob" class="form-label">Job Pay:*</label>
        <input type="text" class="form-control" id="payjob" formControlName="payjob" placeholder="Job Pay" readonly>
        <div *ngIf="jobPostForm.get('payjob')?.hasError('required') && jobPostForm.get('payjob')?.touched"
          class="text-danger">
          Job Pay is required.
        </div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <!-- <textarea formControlName="descriptiondata"></textarea> -->
        <angular-editor formControlName="descriptiondata" [placeholder]="'Enter text here...'"></angular-editor>
        <div
          *ngIf="jobPostForm.get('descriptiondata')?.hasError('required') && jobPostForm.get('descriptiondata')?.touched"
          class="text-danger">
          Required.
        </div>
      </div>

      <div class="d-flex justify-content-between">
        <button class="btn custom-btn rounded-pill" (click)="prevStep()">Previous</button>
        <button class="btn custom-btn rounded-pill" (click)="nextStep()" [disabled]="!jobPostForm.get('numberofopening')?.valid || !jobPostForm.get('descriptiondata')?.valid || !jobPostForm.get('payjob')?.valid || 
        !jobPostForm.get('schedulejob')?.valid || !jobPostForm.get('city')?.valid || !jobPostForm.get('state')?.valid  || !jobPostForm.get('country')?.valid
        || !jobPostForm.get('locationjob')?.valid  || !jobPostForm.get('jobtype')?.valid || !jobPostForm.get('experience')?.valid">Next</button>
      </div>
    </div>

    <div *ngIf="currentStep === 3">
      <!-- Step 3: Submission -->
      <div class="mb-3">
        <h4>Review your job post:</h4>
        <p><strong>Job Title:</strong> {{ jobPostForm.value.jobtitle }}</p>
        <p><strong>Company Name:</strong> {{ jobPostForm.value.companyforthisjob }}</p>
        <p><strong>Number of Openings:</strong> {{ jobPostForm.value.numberofopening }}</p>
        <p><strong>Location:</strong> {{ jobPostForm.value.locationjob }}</p>
        <p><strong>Job Type:</strong> {{ jobPostForm.value.jobtype }}</p>
        <p><strong>Experience Required:</strong> {{ jobPostForm.value.experience }} years</p>
        <!-- <p><strong>Schedule:</strong> {{ jobPostForm.value.schedulejob.join(', ') }}</p> -->
        <p><strong>Schedule:</strong> {{ jobPostForm.value.schedulejob }}</p>
        <p><strong>Pay:</strong> {{ jobPostForm.value.payjob }}</p>
        <!-- <p><strong>Supplemental Pay:</strong> {{ jobPostForm.value.payjobsup }}</p> -->
        <p><strong>Description Data:</strong> </p>
        <p [innerHTML]="jobPostForm.value.descriptiondata"></p>
      </div>
      <div class="d-flex justify-content-between">
        <button class="btn custom-btn rounded-pill" (click)="prevStep()">Previous</button>
        <button type="submit" class="btn custom-btn rounded-pill">Submit</button>
      </div>
    </div>
  </form>
</div>
