<!--<div class="jumbotron jumbotron-fluid text-center d-flex align-items-center justify-content-center flex-column"
    style="background: url('https://raw.githubusercontent.com/suraj9594/Feature-Images/main/images/about%20us.jpg') no-repeat center center; background-size: cover; color: black; padding: 150px 0;">
    <div>
        <p class="welcome-text">Welcome to Our Website</p>
    </div>
    <div class="mt-2">
        <p class="lead">Fueling Careers, Building Futures.</p>
    </div>

</div>
-->
<!--<section class="contact-form custom-font">
    <div class="container">
        <div class="row">
            <div class="container mt-3 text-center">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">

                        <h1 style="font-size: 1.7rem; color: black;">Your Journey to Success Starts at Job For Jobless
                        </h1>
                        <p>Job4Jobless is not just a job portal; we're a dynamic platform dedicated to connecting
                            talents with their dream
                            careers. We understand the aspirations and ambitions that drive individuals to excel in
                            their careers. We
                            simplify and streamline the recruitment and job search process to ensure that your dreams
                            turn into reality—job
                            seekers get their dream jobs, and recruiters get the right talents on board. </p>
                        <h1 style="font-size: 1.7rem; color: black;">Our Mission: Bridging Talent & Opportunity</h1>
                        <p>Our mission is simple yet powerful- to facilitate the right match between job seekers and
                            employers. We're
                            committed to creating an ecosystem where talent meets opportunity effortlessly.
                        </p>
                        <p>
                            At Job4Jobless, we're not just about jobs; we're about progress. We're about helping you
                            find the job that
                            ignites your passion, offers personal growth, and aligns with your ambitions. Our
                            user-friendly interface,
                            robust search algorithms, and vast network of esteemed employers make us the trusted partner
                            on your career
                            path.
                        </p>
    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
-->

<!--<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img src="https://github.com/suraj9594/J4J-Website-Images/blob/main/images/Turning-Dream-into-Reality.jpg?raw=true"
                    class="card-img-top" alt="Turning Dream into Reality">
                <div class="card-body">
                    <h1 class="card-title">Turning Dream into Reality</h1>
                    <h3 class="card-text">We're here to make your career aspirations a reality.
                        Connecting you to
                        renowned companies.</h3>
                    <p>At JOB4JOBLESS, we are dedicated to transforming your career aspirations into
                        tangible
                        achievements. Our platform serves as the bridge between your dreams and reality,
                        providing the
                        tools, opportunities, and resources you need to take that crucial step forward.
                        Your dream job
                        is within reach, and we're here to help you make it a reality.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img src="https://raw.githubusercontent.com/suraj9594/J4J-Website-Images/main/images/Connecting-Perfect-Matches%20(1).jpg"
                    class="card-img-top" alt="Connecting Perfect Matches">
                <div class="card-body">
                    <h1 class="card-title">Connecting Perfect Matches</h1>
                    <h3 class="card-text">We're dedicated to helping job seekers and employers find the
                        perfect match.
                    </h3>
                    <p>At JOB4JOBLESS, our aim is to bridge the gap between job seekers and employers
                        seamlessly.
                        We're dedicated to pairing the right talent with the perfect job opportunities.
                        Our platform
                        facilitates these connections, ensuring that job seekers and employers find
                        their ideal match
                        for a brighter future.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <img src="https://raw.githubusercontent.com/suraj9594/J4J-Website-Images/main/images/Seamless-Experience.jpg"
                    class="card-img-top" alt="Seamless Experience">
                <div class="card-body">
                    <h1 class="card-title">Seamless Experience</h1>
                    <h3 class="card-text">Our platform offers a seamless experience for all your career
                        needs.</h3>
                    <p>We prioritize user-friendly design and intuitive navigation. JOB4JOBLESS offers a
                        seamless
                        experience, making your job search effortless. Our platform's smooth flow
                        ensures that whether
                        you're browsing job listings, applying, or connecting with employers, your
                        journey is
                        hassle-free. Your path to career success is built on a foundation of simplicity
                        and efficiency.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <img src="https://raw.githubusercontent.com/suraj9594/J4J-Website-Images/main/images/Expertise-%26-Experience.jpg"
                    class="card-img-top" alt="Expertise & Experience">
                <div class="card-body">
                    <h1 class="card-title">Expertise & Experience</h1>
                    <h3 class="card-text">With years of experience, we've connected countless
                        professionals to their
                        dream jobs.</h3>
                    <p>Our platform values both the expertise of seasoned professionals and the fresh
                        energy of
                        newcomers. We celebrate the diversity of skills and experiences, fostering a
                        vibrant community
                        where everyone's unique talents are recognized and appreciated. Whether you're a
                        seasoned pro or
                        just starting your career, JOB4JOBLESS is your partner on your journey to
                        success.</p>
                </div>
            </div>
        </div>
    </div>
</div>-->




<div class="banner-img position-relative text-white  mb-5">
  <img
    src="https://github.com/job4jobless/Images/blob/main/Banners/Employer-bottom-banner52.jpg?raw=true"
    alt="Banner Image"
    class="img-fluid w-100"
    style="height: auto;"
  />
  <!-- Centered text overlay -->
  <div
    class="elements position-absolute top-50 start-50 translate-middle text-center d-flex flex-column justify-content-center align-items-center w-100 px-3"
    style="color: #00ffff;"
  >
    <h1 class="fs-1 fw-bolder d-none d-md-block m-0" style="line-height: 1.5;">
      Simplifying Job Search
    </h1>
    <h5 class="d-none d-md-block text-white m-0" style="line-height: 1.5;">
      Fueling Careers, Building Futures...
    </h5>
    <!-- Smaller text for mobile -->
    <h1 class="fs-4 fw-bolder d-md-none m-0" style="line-height: 1.2;color: #00ffff!important;">
      Simplifying Job Search
    </h1>
    <h5 class="fw-normal d-md-none text-white m-0" style="line-height: 1.2;">
      Fueling Careers, Building Futures...
    </h5>
  </div>
</div>


<div class="main">
  <div class="container first">
    <div class="row">
      <div class="col-12 col-md-6">
        <h1 class="fw-bolder" style="color: #1e2d5b">About US</h1>
        <p class="pt-2">
          At Job4Jobless, we aim to revolutionize job searching and hiring with
          its exclusive video calling for direct communication between Job
          seekers and Job providers. From features such as ATS-friendly resume
          builder to smart resume matching and applicant lifecycle tracking,
          Job4Jobless simplifies the recruitment process, making it more
          efficient and personalized.
        </p>
        <p>
          At Job4Jobless, we aim to revolutionize job searching and hiring with
          its exclusive video calling for direct communication between Job
          seekers and Job providers. From features such as ATS-friendly resume
          builder to smart resume matching and applicant lifecycle tracking,
          Job4Jobless simplifies the recruitment process, making it more
          efficient and personalized.
        </p>
      </div>
      <div class="col-12 col-md-6">
        <img
          src="https://raw.githubusercontent.com/job4jobless/Images/refs/heads/main/Temperory/About%20us.png"
          class="card-img-top border-0 p-0 h-auto"
          style="
            width: 80%;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            border-radius: 14px;
          "
          alt="..."
        />
      </div>
    </div>
  </div>
  <div class="content-2 m-0 p-0" style="background: aliceblue">
    <div class="container second mt-5">
      <div class="row pt-5 pb-2">
        <div class="col-12 col-md-6 pb-sm-2">
          <img
            src="https://raw.githubusercontent.com/job4jobless/Images/refs/heads/main/Temperory/Mission.png"
            class="card-img-top border-0 p-0 h-auto"
            style="
              width: 80%;
              box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
              border-radius: 14px;
            "
            alt="..."
          />
        </div>
        <div class="col-12 col-md-6">
          <h1 class="fw-bolder" style="color: #1e2d5b">Mission</h1>
          <p class="pt-2">
            At Job4Jobless, our mission is to empower individuals in their
            career journeys by providing innovative solutions that simplify the
            job search process. We aim to connect job seekers with employers
            using unique features like video calling, ensuring a seamless and
            efficient experience. We are committed to fostering a community
            where finding the right candidate and landing a dream job becomes
            easier.
          </p>
          <p>
            At Job4Jobless, our mission is to empower individuals in their
            career journeys by providing innovative solutions that simplify the
            job search process. We aim to connect job seekers with employers
            using unique features like video calling, ensuring a seamless and
            efficient experience.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container third">
    <div class="row pt-5 pb-2">
      <div class="col-12 col-md-6">
        <h1 class="fw-bolder" style="color: #1e2d5b">Vision</h1>
        <p class="pt-2">
          Our vision at Job4Jobless is to transform the recruitment landscape
          into a dynamic ecosystem that bridges the gap between job seekers and
          employers. We aspire to be the leading platform for job search
          innovation, making it easier for individuals to find meaningful work
          while enabling employers to discover top talent. By continuously
          enhancing our technology and services, we aim to redefine the future
          of work and contribute positively to the global job market.
        </p>
        <p>
          Our vision at Job4Jobless is to transform the recruitment landscape
          into a dynamic ecosystem that bridges the gap between job seekers and
          employers. We aspire to be the leading platform for job search
          innovation, making it easier for individuals to find work
        </p>
      </div>
      <div class="col-12 col-md-6">
        <img
          src="https://raw.githubusercontent.com/job4jobless/Images/refs/heads/main/Temperory/Vision.png"
          class="card-img-top border-0 p-0 h-auto"
          style="
            width: 80%;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
            border-radius: 14px;
          "
          alt="..."
        />
      </div>
    </div>
  </div>
</div>




<app-testimonial-slider></app-testimonial-slider>
<div class="container">
    <h2 class="text-center mb-4 mt-4" style="font-size: 2rem; text-shadow: 3px 3px 5px #888; color: black;">Our
        Clients
    </h2>
    <div class="row">
        <div class="col-md-6">
            <div class="client-card card">
                <img src="https://raw.githubusercontent.com/suraj9594/J4J-Website-Images/main/images/testimonials-03-min%20(1).png"
                    class="card-img-top" alt="Client 1">
                <!-- <h4><b>Emily R</b></h4>
                <p class="testimonial hidden">"This platform changed my life! I effortlessly found my dream job, and I couldn't be happier. The intuitive interface and personalized job recommendations made my job search easy. Thank you for making it possible." - Emily R.</p> -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="client-card card">
                <img src="https://raw.githubusercontent.com/suraj9594/J4J-Website-Images/main/images/testimonials-01-min.png"
                    class="card-img-top" alt="Client 2">
                <!-- <h4><b>John M.</b></h4>
                <p class="testimonial hidden">"Navigating this platform was very simple, and I applied to multiple jobs with ease. The user experience is top-notch, and it saved me so much time. I even received interview requests within a few days of applying!"</p> -->
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-6">
            <div class="client-card card">
                <img src="https://raw.githubusercontent.com/suraj9594/J4J-Website-Images/main/images/testimonials-02-min.png"
                    class="card-img-top" alt="Client 3">
                <!-- <h4><b>Sarah T</b></h4>
                <p class="testimonial hidden">"The career resources provided on this platform are a goldmine for professional development. I've learned invaluable skills and advanced my career significantly. The articles and tools available have been instrumental in my success. Thank you for this incredible resource!" - Sarah T.</p> -->
            </div>
        </div>
        <div class="col-md-6">
            <div class="client-card card">
                <img src="https://raw.githubusercontent.com/suraj9594/J4J-Website-Images/main/images/testim-01.jpg"
                    class="card-img-top" alt="Client 3">
                <!-- <h4><b>Sarah T</b></h4>
                <p class="testimonial hidden">"The career resources provided on this platform are a goldmine for professional development. I've learned invaluable skills and advanced my career significantly. The articles and tools available have been instrumental in my success. Thank you for this incredible resource!" - Sarah T.</p> -->
            </div>
        </div>

    </div>
</div>


<app-footer></app-footer>
