<div class="container mt-5">
  <!-- Filter by Status -->
  <div class="status-filter">
    <h1>Filter by Status</h1>
    <ul class="list-inline">
      <li (click)="filterApplications('All')" class="list-inline-item status-option">All Applications</li>
      <li (click)="filterApplications('Selected')" class="list-inline-item status-option">Selected <i class="fa-solid fa-circle-check fa-1x" style="color: #388a53;"></i></li>
      <li (click)="filterApplications('Rejected')" class="list-inline-item status-option">Rejected   <i class="fa-solid fa-circle-xmark fa-1x" style="color: #ac2402;"></i></li>
      <li (click)="filterApplications('Reviewed')" class="list-inline-item status-option">Reviewed <i class="fa-solid fa-circle-check fa-1x" style="color: #fb9379;"></i></li>
      <li (click)="filterApplications('Waiting')" class="list-inline-item status-option">Waiting <i class="fa-solid fa-clock fa-1x"></i></li>
      <li (click)="toggleTableVisibility()" class="list-inline-item status-option">Show in Table</li>
    </ul>
  </div>
  <div class="form-group mt-3">
    <label for="jobTitleFilter">Filter by Job Title:</label>
    <div class="input-group">
      <input type="text" class="form-control" id="jobTitleFilter" [(ngModel)]="jobTitleFilter" />
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="filterByJobTitle()">
          <i class="fa fa-search"></i> <!-- Font Awesome search icon -->
        </button>
      </div>
    </div>
  </div>
  <h2 class="mt-4">Job Applications</h2>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let application of filteredData">
      <div class="card mb-4">
        <div class="card-body" style="flex-grow: 1;">
          <h2><b>Company: </b> {{ application.jucompny }}</h2>
          <h2><b>Job Title: </b>{{ application.jutitle }}</h2>
          <h4><strong>Resume:</strong> <a [href]="'https://job4jobless.com:9001/getPdfByUi/'+application.uid" target="_blank">Open Resume</a></h4>
        
          <h4><strong>Mail:</strong> <a [href]="'mailto:' + application.jumail">{{ application.jumail }}</a></h4>
            <div class="status-tracker">
              <!-- Waiting Status -->
              <div class="status" [ngClass]="{ 'active': application.profileupdate === 'Waiting' }">
                <span class="status-number" *ngIf="application.profileupdate !== 'Waiting'">1</span>
                <span class="circle-icon waiting-icon" *ngIf="application.profileupdate === 'Waiting'">
                  <i class="fas fa-clock"></i>
                </span>
                <span class="status-label">Waiting</span>
              </div>
              
              <!-- Reviewed Status -->
              <div class="status" [ngClass]="{ 'active': application.profileupdate === 'Reviewed' }">
                <span class="status-number" *ngIf="application.profileupdate !== 'Reviewed'">2</span>
                <span class="circle-icon reviewed-icon" *ngIf="application.profileupdate === 'Reviewed'">
                  <i class="fas fa-spinner"></i>
                </span>
                <span class="status-label">Reviewed</span>
              </div>
              
              <!-- Selected or Rejected Status -->
              <div class="status" [ngClass]="{ 'active': application.profileupdate === 'Selected' || application.profileupdate === 'Rejected' }">
                <span class="status-number" *ngIf="application.profileupdate !== 'Selected' && application.profileupdate !== 'Rejected'">3</span>
                <span class="circle-icon selected-icon" *ngIf="application.profileupdate === 'Selected'">
                  <i class="fas fa-check"></i>
                </span>
                <span class="circle-icon rejected-icon" *ngIf="application.profileupdate === 'Rejected'">
                  <i class="fas fa-times"></i>
                </span>
                <span class="status-label">
                  {{ application.profileupdate === 'Selected' ? 'Selected' : 'Rejected' }}
                </span>
              </div>
            </div>
            
            
            
            
        </div>
        <div class="card-footer" *ngIf="expandedUser === application">
          <p><strong>Location:</strong> {{ application.jurelocation }}</p>
          <p><strong>Education:</strong> {{ application.jueducation }}</p>
          <p><strong>Experience:</strong> {{ application.juexperience }}</p>

          <p><strong>Interview Date:</strong> {{ application.juinterviewdate }}</p>

          <p><strong>Job Title:</strong> {{ application.jujobtitle }}</p>
          <p><strong>Company Name:</strong> {{ application.jucompanyname }}</p>
        </div>
        <button class="btn custom-btn rounded-pill  btn-block mt-2" (click)="showMoreInfo(application)">    {{ expandedUser === application ? 'Less Info' : 'More Info' }}</button>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center mt-4 mb-4">
        <div class="col-md-6">
          <div class="pagination justify-content-center">
            <button class="btn custom-btn mt-3 rounded-pill" (click)="onPageChange(currentPage - 1)"
              [disabled]="currentPage === 1"><i class="fas fa-arrow-left"></i>&nbsp;Previous</button>
            &nbsp;
            <button class="btn custom-btn mt-3 rounded-pill" (click)="onPageChange(currentPage + 1)"
             [disabled]="currentPage === totalPages">Next <i class="fas fa-arrow-right"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center my-4">
  <button class="btn custom-btn rounded-pill "(click)="toggleTableVisibility()">
    {{ isTableVisible ? 'Hide Table' : 'Show Table' }}
  </button>
</div>

<!-- <h2 class="mt-4 text-center">My Jobs Applications</h2> -->

<div class="table-responsive">
  <h2 class="mt-4 text-center" *ngIf="isTableVisible">My Jobs Applications</h2>
  <table class="table table-hover table-bordered table-striped" *ngIf="isTableVisible" id="dataTable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Company</th>
        <th>Title</th>
        <th>Resume</th>
        <th>Location</th>
        <th>Education</th>
        <th>Experience</th>
    
        <th>Interview Date</th>
    
        <th>Job Title</th>
        <th>Company Name</th>
        <th>Description</th>
        <th>Phone</th>
        <th>Last Salary</th>
        <th>Expected Salary</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let application of filteredData">
        <td>{{ application.juname }}</td>
        <td>{{ application.jumail }}</td>
        <td>{{ application.jucompny }}</td>
        <td>{{ application.jutitle }}</td>
        <td>{{ application.juresume }}</td>
        <td>{{ application.jurelocation }}</td>
        <td>{{ application.jueducation }}</td>
        <td>{{ application.juexperience }}</td>
 
        <td>{{ application.juinterviewdate }}</td>

        <td>{{ application.jujobtitle }}</td>
        <td>{{ application.jucompanyname }}</td>
        <td>{{ application.description }}</td>
        <td>{{ application.juphone }}</td>
        <td>{{ application.julastsal }}</td>
        <td>{{ application.juexpecsalary }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="text-center">
  <button class="btn custom-btn rounded-pill" *ngIf="isTableVisible" (click)="generateTablePDF()">Download Table</button>
</div>
