<div class="container mt-5">

  <ng-container *ngIf="filteredData && filteredData.length > 0; else noNotifications">
    <h1 class="mt-4">Notification</h1>
    <div class="row">
      <div class="col-12" *ngFor="let application of filteredData">
        <div class="card mb-4" [ngClass]="{'new-message-card': application.userStatus}">
          <div class="card-header">
            <div class="new-messages">
              <div *ngIf="application.userStatus">
                <p>New Messages</p>
              </div>
              <p>
                Message <span class="time-ago">{{ formatTimeAgo(application.sendTime) }}</span>
              </p>
            </div>
            <button class="btn btn-link close-btn" (click)="onDeleteButtonClick(application.uid, application.juid)">
              <i class="fa-solid fa-times"></i>
            </button>
          </div>
          
          <div class="card-body" style="flex-grow: 1; position: relative;">
       
            <h2>Haven't heard back?</h2>
            <p>You are more likely to hear back on your application if you follow up with a message.</p>
            <h1>{{ application.jutitle }}</h1>
            <h2>{{ application.jucompny }}</h2>
            <div *ngIf="application.profileupdate === 'Reviewed'">
              <i class="fa-solid fa-circle-check fa-1x" style="color: #fb9379;"></i>
              <span style="color: #fb9379;"> Reviewed</span>
            </div>
            <div *ngIf="application.profileupdate === 'Selected'">
              <i class="fa-solid fa-circle-check fa-1x" style="color: #388a53;"></i>
              <span style="color: #388a53;"> Selected</span>
            </div>
            <div *ngIf="application.profileupdate === 'Waiting'">
              <i class="fa-solid fa-clock fa-1x"></i>
              <span> Waiting</span>
            </div>
            <div *ngIf="application.profileupdate === 'Rejected'">
              <i class="fa-solid fa-circle-xmark fa-1x" style="color: #ac2402;"></i>
              <span style="color: #ac2402;"> Rejected</span>
            </div>
            <button class="btn mt-2 send-message-btn" style="position: absolute; bottom: 0; right: 0;" (click)="onSendMessageButtonClick(application.uid,application.juid)">
              View Checked
              <i class="fa-solid fa-arrow-right" style="color: black;"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
    
    
  </ng-container>

  <ng-template #noNotifications>
    <div class="no-notifications">
      <div class="center-content">
        <img src="https://raw.githubusercontent.com/job4jobless/Images/refs/heads/main/Banners/no%20notification-01.png" alt="No Notifications Image"
          class="no-notifications-image">
        <p class="no-notifications-text">Get Notified and Stay Updated!</p>
        <p>Don't miss anything important, stay informed about top matches and application progress</p>
        <button class="btn custom-btn mt-3 rounded-pill" (click)="refreshNotifications()">Refresh</button>
      </div>
    </div>
  </ng-template>
</div>
