<footer class="footer py-5">
  <div class="container ">
    <div class="row">
      <div class="col-md-5 ">
        <div style="text-align: center;">
          <img src="assets/Job4jobless & Hustleforwork-01.png" alt="Company Logo" class="img-fluid" width="80%">
        </div>
        
        
        <!-- <h1 class="mt-3"><b>JOB4JOBLESS</b></h1> -->
        <h4 class="text-justify mt-2">
        Job For Jobless is a new-gen job portal that connects passion with the dream company and the right talent
            with the right company. We turn dreams and passion into success stories. Companies can access a limitless
            talent pool of quality candidates, and job seekers can access unlimited opportunities in just a few
            clicks.
        </h4>
      </div>
      <div class="col-md-2">
        <h1><b>Pages</b></h1>
        <ul class="list-unstyled">
          <li><a (click)="scrollToTop()" routerLink="/employer" routerLinkActive="active" class="text-decoration-none">
              <h2 >Post job(s)</h2>
            </a></li>
       
          <li><a (click)="scrollToTop()" routerLink="/employer/products" routerLinkActive="active" class="text-decoration-none">
              <h2 >Products</h2>
            </a></li>

          <li><a (click)="scrollToTop()" routerLink="/employer/resources" routerLinkActive="active" class="text-decoration-none">
              <h2 >Resources</h2>
            </a></li>
            <li><a (click)="scrollToTop()" routerLink="/privacy-policy" routerLinkActive="active" class="text-decoration-none">
              <h2 >Privacy Policy</h2>
            </a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h1><b>Follow Us</b></h1>
        <ul class="social-list list-unstyled d-flex flex-row flex-md-column">
          <li class="m-2 mb-md-0">
            <a href="https://www.facebook.com/profile.php?id=61555763121261" class="text-decoration-none">
              <i class="fa-brands fa-facebook fa-2x" style="color: #194ea9;"></i>
            </a>
          </li>
          <li class="m-2 mb-md-0">
            <a href="https://twitter.com/Job4Jobless" class="text-decoration-none">
              <i class="fa-brands fa-x-twitter fa-2x" style="color: #000000;"></i>
            </a>
          </li>
          <li class="m-2 mb-md-0">
            <a href="https://www.linkedin.com/company/99274968/admin/feed/posts/" class="text-decoration-none">
              <i class="fa-brands fa-linkedin fa-2x" style="color: #1e3762;"></i>
            </a>
          </li>
          <li class="m-2 mb-md-0">
            <a href="javascript:void(0);" (click)="sendWhatsAppMessage()" class="text-decoration-none">
              <i class="fa-brands fa-whatsapp fa-2x" style="color: #2ac048;"></i>
            </a>
          </li>
          <li class="m-2 mb-md-0">
            <a href="https://www.instagram.com/job4jobless/" class="text-decoration-none">
              <i class="fa-brands fa-instagram fa-2x" style="color: #b10b6c;"></i>
            </a>
          </li>
          <li class="m-2 mb-md-0">
            <a href="https://www.pinterest.com/job4jobless/"  class="text-decoration-none">
              <i class="fa-brands fa-pinterest fa-2x" style="color: #cb1515;"></i>
            </a>
          </li>
        </ul>
      </div>
      
      <div class="col-md-3">
        <h1><b>Contact Us</b></h1>
        <div class="address-details">
          <div class="contact-details">
            <h2><b>Address:</b></h2>
            <p>2615A-2616, 26th FLOOR, SUPERNOVA ASTRALIS, SECTOR-94, NOIDA, UTTAR PRADESH - 201301</p>
          </div>
          <div class="contact-details">
            <h2><b>Email</b>:</h2> <a href="mailto:info@oragetechnologies.com" class="text-decoration-none"><span class="non-bold-text">info@oragetechnologies.com</span></a>
            <h2><b>Contact No. </b>:</h2>
            <a href="tel:+91 9958360795" class="text-decoration-none"><span class="non-bold-text">+91 9958360795</span></a>,
            <a href="tel:+0120-4244775" class="text-decoration-none"><span class="non-bold-text">0120-4244775</span></a>
          </div>
        </div>
      </div>
   
      
      
      
    </div>
  </div>
</footer>

  <hr> <!-- Add horizontal line -->
  <div class="text-center mt-3 d-flex align-items-center justify-content-center">
    <p class="m-0">CopyRight @2023 <span style="font-weight: bold;">job4jobless</span>. All Rights Reserved.</p>
    <span class="mx-2">|</span>
    <a routerLink="/terms" target="_blank" style=" color: black;">Terms & Conditions</a>
  </div>

