<div class="container-fluid">
    <div class="container text-center" style="margin: 1%;">
        <h4>EMPLOYERS DETAILS</h4>
        <div class="row">
            <div class="col-md-12 col-lg-5">
                <div class="input-group">
                    <input type="text" [(ngModel)]="searchEmpName"
                        class="rounded-pill m-2 px-4 py-3 w-100 shadow-lg border-0 custom-outline"
                        placeholder="Search By Name">
                </div>
            </div>
            <div class="col-md-12 col-lg-5">
                <div class="input-group">
                    <input type="text" [(ngModel)]="searchCmpName"
                        class="rounded-pill m-2 px-4 py-3 w-100 shadow-lg border-0 custom-outline"
                        placeholder="Search By Company">
                </div>
            </div>
            <div class="col-md-12 col-lg-2">
                <button type="button" class="btn rounded-pill m-2 px-4 py-3 shadow-lg mx-1 findjobbtn"
                    (click)="searchByDetails()">Search</button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-striped custom-table">
                <thead>
                    <tr style="background-color: rgb(143, 236, 143);">
                        <!-- <th>S.no.</th> -->
                        <th>Name</th>
                        <th>Company</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Description</th>
                        <th>Notification</th>
                        <th>Actions</th>
                        <!-- Add a new column for the action button -->
                    </tr>
                </thead>
                <tbody>
                    <!-- <tr *ngFor="let user of data" style="background-color: rgb(216, 252, 216);"> -->
                    <tr *ngFor="let user of data" style="background-color: rgb(216, 252, 216);">
                        <!-- <td>{{ user.empid }}</td> -->
                        <td>{{ user.empfname }} {{ user.emplname }}</td>
                        <td>{{ user.empcompany }}</td>
                        <td><a href="mailto:{{ user.empmailid }}">{{ user.empmailid }}</a></td>
                        <td><a href="tel:{{ user.empphone }}">{{ user.empphone }}</a></td>
                        <!-- <td style="width: 300px;">{{ truncateDescription(user.descriptionemp) }}</td> -->
                        <td style="width: 300px;">
                            <p [innerHTML]="truncateDescription(user.descriptionemp)"></p>
                        </td>
                        <td>
                            <button style="font-size: small;" class="btn custom-btn rounded-pill"
                                (click)="sendNotificationemp(user.empid)">Send
                                Notification</button>
                        </td>
                        <td>
                            <div>
                                <!-- <td> <button type="button" class="btn btn-secondary"
                                (click)="infoPage(user.empid)">Info</button></td> -->
                        <td>
                            <button type="button" class="btn btn-secondary"
                                style="background-color: #1e2e5c; color: white;"
                                (click)="toggleUserActivation(user.empid)">
                                {{ user.accempldeactivate ? 'Activate' : 'Deactivate' }}
                            </button>
                        </td>
        </div>
        </td>
        </tr>
        </tbody>
        </table>
        <!-- <button *ngIf=" currentPage!==1" class="previous-button" (click)="loadPreviousPage()">
            < Previous</button>
                <button *ngIf="currentPage * itemsPerPage < data.length" class="load-more-button"
                    (click)="loadNextPage()">Next ></button> -->
        <button [disabled]="currentPage===1" class="previous-button" (click)="onPageChange(currentPage-1)">
            < Previous</button>
                <button [disabled]="currentPage === totalPages" class="load-more-button"
                    (click)="onPageChange(currentPage+1)">Next ></button>
    </div>
</div>
</div>