p,
a,
button {
  font-family: 'Poppins', sans-serif;
}

.custom-google {
  background-color: #1e2e5c41;
  color: #1E2E5C;
  outline: 2px solid #1E2E5C;
}

.custom-google:hover {
  background-color: #1E2E5C;
  color: white;
  outline: 2px solid #1E2E5C;
}