<div class="container mt-4">
  <div class="card p-4">
    <h1 class="mb-4">Check User Existence</h1>
    <form [formGroup]="userForm" (submit)="checkUser()">
      <div class="form-group">
        <label for="userName">Email (must be a valid Gmail address):</label>
        <input type="email" class="form-control" formControlName="userName" placeholder="Enter Email">
        <div *ngIf="userForm.get('userName')?.hasError('required') && userForm.get('userName')?.touched"
          class="text-danger">Email is required.
        </div>
        <div *ngIf="userForm.get('userName')?.hasError('email') && userForm.get('userName')?.touched"
          class="text-danger">Please enter a valid email address.
        </div>
        <div *ngIf="userForm.get('userName')?.hasError('pattern') && userForm.get('userName')?.touched"
          class="text-danger">Please enter a valid email address.
        </div>
      </div>
      <button type="submit" class="btn custom-btn rounded-pill">Check User</button>
    </form>
    <div *ngIf="isLoading" class="loader-container">
      <div class="loader"></div>
    </div>

  </div>

  <!-- <div class="row mt-4">
    <div class="col-md-6">
      <div *ngIf="user" class="alert alert-success">
        Success: User exists - {{ user['userName'] }}
      </div>
      <div *ngIf="showWarning" class="alert alert-warning">
        Warning: User does not exist
      </div>
    </div>
  </div> -->
</div>