<div>
    <div style="text-align: center;">
        <h1 class="head">Subscription Plans</h1>
    </div>
    <div class="card-container">
        <div class="card">
            <img src="https://github.com/suraj9594/J4J-Website-Images/blob/main/subscription%20plan-01.jpg?raw=true"
            style="border: 2px solid black;">
        </div>
        <div class="card">
            <img src="https://github.com/suraj9594/J4J-Website-Images/blob/main/subscription%20plan-02.jpg?raw=true"
            style="border: 2px solid black;">
        </div>
        <div class="card">
            <img src="https://github.com/suraj9594/J4J-Website-Images/blob/main/subscription%20plan-03.jpg?raw=true"
            style="border: 2px solid black;">
        </div>
    </div>
</div>