<div class="container-fluid video-call-container">
  <div class="row">
    <!-- Video Area (Large screen) -->
    <div class="col-lg-8 col-md-12 video-area">
      <div>
        <h1 class="text-center">JOB4JOBLESS Video Chat</h1>

        <div class="entry-modal text-center" #entryModal>
          <p>Create or Join Meeting</p>
          <div class="form-group">
            <input class="room-input form-control" #roomInput placeholder="Enter Room ID">
          </div>
          <div class="text-center d-flex justify-content-between">
            <button class="btn custom-btn rounded-pill" (click)="createRoom()">Create Room</button>
            <button class="btn custom-btn rounded-pill" (click)="joinRoom()">Join Room</button>
          </div>
        </div>

        <div class="meet-area">
          <div class="video-container">
            <!-- Remote Video Element -->
            <video #remoteVideo class="remote-video"></video>
            <!-- Local Video Element -->
            <video #localVideo class="local-video" muted autoplay></video>
          </div>

          <div class="meet-controls-bar">
            <button class="btn custom-btn rounded-pill" (click)="toggleAudio()">
              {{ audioMuted ? 'Unmute Audio' : 'Mute Audio' }}
            </button>
            <button class="btn custom-btn rounded-pill" (click)="toggleVideo()">
              {{ videoMuted ? 'Unmute Video' : 'Mute Video' }}
            </button>
            <button class="btn custom-btn rounded-pill" (click)="startScreenShare()">Screen Share</button>
          </div>

          <div class="meet-controls-container text-center" *ngIf="endCall" >
            <div class="meet-controls-bar">
              <button class="btn btn-danger rounded-pill" (click)="confirmEndCall()">End Call</button>
            </div>
          </div>
        </div>
      </div>
      <p #notification class="notification" [hidden]="true"></p>
    </div>

    <!-- Control Area (Sidebar) -->
    <div class="col-lg-4 col-md-12 controls-area">
      <div class="top-controls">
        <h1 class="meeting-title">Meeting Title</h1>
        <div class="meeting-status">Connected</div>
      </div>

      <div class="bottom-controls">
        <div class="participants-list">
          <h2>Participants</h2>
          <ul class="list-group">
            <li class="list-group-item">Participant 1</li>
            <li class="list-group-item">Participant 2</li>
          </ul>
        </div>

        <div class="chat-panel">
          <h2>Chat</h2>
          <div class="chat-container">
            <div class="chat-messages" id="chat-messages">
              <div *ngFor="let message of messages" class="message"
                [ngClass]="{'sent': message.messageFrom === 'me', 'received': message.messageFrom !== 'me'}">
                <div class="message-content">{{ message.message }}</div>
              </div>
            </div>
          </div>
          <form [formGroup]="messageForm" (ngSubmit)="sendMessage()" class="message-form">
            <div class="form-group">
              <textarea id="message" formControlName="message" placeholder="Type your message..." required
                class="form-control"></textarea>
            </div>
            <button type="submit" class="btn custom-btn rounded-pill">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
