/* Additional CSS styles for your UI */
.local-video {
  width: 100%; /* Make the local video full-width */
  max-width: 100%;
  border: 1px solid #ccc;
  background-color: #000;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
  /* Add any other styles for the local video container */
}

/* Styles for the "Full Screen" button */
.full-screen-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
}

/* Styles for chat panel scrolling */
.chat-container {
  height: 400px; /* Set a fixed height for scrolling */
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
}

/* Styles for chat messages */
.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
}

/* Styles for sent and received messages */
.sent {
  background-color: #007bff;
  color: #fff;
  text-align: right;
}

.received {
  background-color: #f4f4f4;
  text-align: left;
  
}

.video-container {
  position: relative;
  
}



.video-container:nth-child(2) {
  position: absolute;
  bottom: 0;
  right: 0;
}

.custom-btn {
  color: white;
  background-color: #1e2e5c;
}
#endCallButtonContainer {
  position: fixed;
  bottom: 20px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999; /* Ensure the button is on top of other content */
}

.entry-modal {

  padding: 2rem;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  margin: 2rem auto;
  text-align: center;
}

.entry-model1{
  background-color: #ebf3fe;
}