<div class="tab-pane" id="password" role="tabpanel">
  <div class="card"> <!-- Adjust the max-width value as needed -->
    <div class="card-body">
      <h5 class="card-title">Password</h5>
      <form [formGroup]="passwordResetForm" (submit)="submitForm()">
        <!-- Form fields... -->
        <div class="form-group">
          <label for="email">Email: </label>
          <input type="text" class="form-control" id="email" formControlName="email">
          <div *ngIf="passwordResetForm.get('email')?.hasError('required') && passwordResetForm.get('email')?.touched"
            class="text-danger">Email is required.
          </div>
          <div *ngIf="passwordResetForm.get('email')?.hasError('email') && passwordResetForm.get('email')?.touched"
            class="text-danger">Please enter a valid email address.
          </div>
          <div *ngIf="passwordResetForm.get('email')?.hasError('pattern') && passwordResetForm.get('email')?.touched"
            class="text-danger">Please enter a valid email address.
          </div>
        </div>
        <div class="form-group">
          <label for="inputPasswordNew">New password</label>
          <div class="form-group position-relative">
            <input type="password" class="form-control" formControlName="newPassword" id="inputPasswordNew"
              placeholder="Password" autocomplete="off" [type]="passwordVisibleNew ? 'text' : 'password'" />
            <div class="toggle-password-icon" (click)="togglePasswordVisibilityNew()">
              <div *ngIf="passwordVisibleNew; else hidePassword" class="eye-icon">
                <i class="fa-solid fa-eye-slash"></i>
              </div>
              <ng-template #hidePassword>
                <div class="eye-icon">
                  <i class="fa-solid fa-eye"></i>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
        <div
          *ngIf="passwordResetForm.get('newPassword')?.hasError('required') && passwordResetForm.get('newPassword')?.touched"
          class="text-danger">Password is required.
        </div>
        <div
          *ngIf="passwordResetForm.get('newPassword')?.hasError('minlength') && passwordResetForm.get('newPassword')?.touched"
          class="text-danger">Password must be at least 8 characters long.
        </div>
        <div
          *ngIf="passwordResetForm.get('newPassword')?.hasError('pattern') && passwordResetForm.get('newPassword')?.touched"
          class="text-danger">Password must contain at least one capital letter, one small letter, one number,
          and one special character.
        </div>
        <div class="form-group">
          <label for="inputPasswordNew2">Verify password</label>
          <!-- Input field for verifying new password -->
          <div class="form-group position-relative">
            <input type="password" class="form-control" formControlName="verifyPassword" id="inputPasswordNew2"
              placeholder="Password" autocomplete="off" [type]="passwordVisibleVerify ? 'text' : 'password'" />
            <div class="toggle-password-icon" (click)="togglePasswordVisibilityVerify()">
              <div *ngIf="passwordVisibleVerify; else hidePassword" class="eye-icon">
                <i class="fa-solid fa-eye-slash"></i>
              </div>
              <ng-template #hidePassword>
                <div class="eye-icon">
                  <i class="fa-solid fa-eye"></i>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
        <div
          *ngIf="passwordResetForm.get('verifyPassword')?.hasError('required') && passwordResetForm.get('verifyPassword')?.touched"
          class="text-danger">Password is required.
        </div>
        <div
          *ngIf="passwordResetForm.get('verifyPassword')?.hasError('minlength') && passwordResetForm.get('verifyPassword')?.touched"
          class="text-danger">Password must be at least 8 characters long.
        </div>
        <div
          *ngIf="passwordResetForm.get('verifyPassword')?.hasError('pattern') && passwordResetForm.get('verifyPassword')?.touched"
          class="text-danger">Password must contain at least one capital letter, one small letter, one number,
          and one special character.
        </div>
        <div class="text-danger" *ngIf="passwordsDoNotMatch">
          Passwords do not match.
        </div>

        <!-- Save Changes button -->
        <button type="submit" class="btn custom-btn rounded-pill" [disabled]="passwordResetForm.invalid">Save
          changes</button>
      </form>

    </div>
  </div>
</div>
