<div class="container d-flex justify-content-center align-items-center">
  <button routerLink="/" class="position-absolute top-0 start-0 btn rounded-pill m-4"
    style="background-color: #1E2E5C; color: white;"><i class="fa-solid fa-chevron-left"></i>&nbsp; &nbsp; Go back to
    home</button>
  <div class="border shadow border-2 rounded-3 d-flex justify-content-center align-items-center flex-column"
    style="max-width: 30em; margin-top: 10vh;">
    <div class="text-center my-4">
      <img src="assets/Job4jobless_logo.png" alt="job4jobless" style="width: 100%;"
        onclick="window.location.href = '/'">
    </div>
    <p>Sign in to job4jobless as Job Seeker</p>
    <form [formGroup]="loginform" (ngSubmit)="login(loginform)" action="">
      <div class="form-group">
        <input type="text" class="form-control px-4 rounded-pill" formControlName="userName" id="userName"
          placeholder="Username or Email"
          [ngClass]="{ 'is-invalid': loginform.get('userName')?.invalid && loginform.get('userName')?.touched }" />
        <div class="invalid-feedback" *ngIf="loginform.get('userName')?.hasError('required')">
          Username or Email is required.
        </div>
      </div>
      <div class="form-group position-relative">
        <input type="password" class="form-control px-4 rounded-pill" formControlName="userPassword" id="userPassword"
          placeholder="Password" [type]="passwordVisible ? 'text' : 'password'" />
        <div class="toggle-password-icon" (click)="togglePasswordVisibility()">
          <div *ngIf="passwordVisible; else hidePassword" class="eye-icon">
            <i class="fa-solid fa-eye-slash"></i>
          </div>
          <ng-template #hidePassword>
            <div class="eye-icon">
              <i class="fa-solid fa-eye"></i>
            </div>
          </ng-template>
        </div>
      </div>
      <div *ngIf="loginform.get('userPassword')?.hasError('required') && loginform.get('userPassword')?.touched"
        class="text-danger">Password is required.
      </div>
      <div *ngIf="loginform.get('userPassword')?.hasError('minlength') && loginform.get('userPassword')?.touched"
        class="text-danger">Password must be at least 8 characters long.
      </div>
      <div *ngIf="loginform.get('userPassword')?.hasError('pattern') && loginform.get('userPassword')?.touched"
        class="text-danger">Password must contain at least one capital letter, one small letter, one number,
        and one special character.
      </div>

      <div class="form-group d-flex flex-column justify-content-center align-items-stretch">
        <a class="text-decoration-none text-center" routerLink="/resetpass" style="color: #1E2E5C;">Forgot your
          password?</a>
        <button type="submit" class="btn rounded-pill my-3" style="background-color: #1E2E5C; color: white;">Sign
          In</button>
        <p>Don't have an account? <a routerLink="/register" class="text-decoration-none" style="color: #1E2E5C;">Create
            Account.</a></p>
        <button class="btn rounded-pill custom-google" (click)="loginWithGoogle()">
          <i class="fab fa-google"></i>&nbsp; &nbsp;Sign In with Google
        </button>
      </div>
    </form>
  </div>
</div>