<div class="container mt-4">
    <div class="row">
        <!-- Left column for the image -->
        <div class="col-md-6">
            <img src="https://raw.githubusercontent.com/suraj9594/J4J-Website-Images/main/images/contact%20us%404x-8%20(2).png"
                alt="" class="img-fluid rounded">
        </div>
        <!-- Right column for the contact form -->
        <div class="col-md-6">
            <div class="card contact-form">
                <div class="card-body">
                    <h1 class="card-title text-center" style="font-size: 2rem; color: black;">Contact Us</h1>
                    <form [formGroup]="contactForm" (ngSubmit)="onSubmitForm()">
                        <div class="mb-3">
                            <label for="exampleInputName" class="form-label">Name</label>
                            <input type="text" class="form-control" id="exampleInputName" formControlName="name">
                            <div *ngIf="contactForm.get('name')?.hasError('required') && contactForm.get('name')?.touched"
                                class="text-danger">First Name is required.
                            </div>
                            <div *ngIf="contactForm.get('name')?.hasError('pattern') && contactForm.get('name')?.touched"
                                class="text-danger">Invalid Name.
                            </div>
                            <!-- Add error message handling here if needed -->
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email Address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" formControlName="email">
                            <div *ngIf="contactForm.get('email')?.hasError('required') && contactForm.get('email')?.touched"
                                class="text-danger">Email is required.
                            </div>
                            <div *ngIf="contactForm.get('email')?.hasError('email') && contactForm.get('email')?.touched"
                                class="text-danger">Please enter a valid email address.
                            </div>
                            <div *ngIf="contactForm.get('email')?.hasError('pattern') && contactForm.get('email')?.touched"
                                class="text-danger">Please enter a valid email address.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputcont" class="form-label">Contact Number</label>
                            <input type="tel" class="form-control" id="exampleInputcont"
                                formControlName="contactNumber">
                            <div *ngIf="contactForm.get('contactNumber')?.hasError('required') && (contactForm.get('contactNumber')?.dirty || contactForm.get('contactNumber')?.touched)"
                                class="text-danger">
                                Contact number is required.
                            </div>
                            <div *ngIf="contactForm.get('contactNumber')?.hasError('invalidContactNumber') && (contactForm.get('contactNumber')?.dirty || contactForm.get('contactNumber')?.touched)"
                                class="text-danger">
                                Please enter a 10-digit contact number.
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputmessage" class="form-label">Message</label>
                            <textarea class="form-control" name="exampleInputmessage" id="exampleInputmessage" cols="30"
                                rows="5" formControlName="message"></textarea>
                            <div *ngIf="contactForm.get('message')?.hasError('required') && contactForm.get('message')?.touched"
                                class="text-danger">Please enter a message.
                            </div>
                            <!-- Add error message handling here if needed -->
                        </div>
                        <button type="submit" class="btn custom-btn rounded-pill">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer class="mt-4"></app-footer>