<div class="container">
    <div *ngIf="isLoading" class="text-center mt-5">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 custom-font">
            <div class="d-flex flex-column justify-content-center align-items-stretch">
                <!-- <div *ngFor="let job of getJobsForCurrentPage()" class="border-2 border rounded-4 p-4 mt-3"> -->
                <div *ngFor="let job of filteredJobs" class="border-2 border rounded-4 p-4 mt-3">
                    <div *ngIf="job.numberofopening > 10">
                        <span class="rounded-4 border-0 px-2 py-1" style="background-color: #86efac; color: #166534;">
                            Urgently Hiring
                        </span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <p class="fs-3 fw-bold">{{ job.jobtitle }}</p>
                    </div>
                    <p class="rounded-pill px-2 py-1 mx-2"><i class="fa-solid fa-building"></i>&nbsp;{{
                        job.companyforthisjob }}
                    </p>
                    <div class="d-flex flex-row justify-content-start align-items-center flex-wrap">
                        <p class="rounded-pill px-2 py-1 mx-2 custom-pills">{{ job.numberofopening }} opening(s)</p>
                        <p class="rounded-pill px-2 py-1 mx-2 custom-pills">{{ job.experience }} Years of Experience</p>
                        <p class="rounded-pill px-2 py-1 mx-2 custom-pills"><i
                                class="fa-solid fa-location-dot"></i>&nbsp;{{
                            job.locationjob }}</p>
                        <p class="rounded-pill px-2 py-1 mx-2 custom-pills"><i class="fa-solid fa-sun"></i>&nbsp;{{
                            job.jobtype }}
                        </p>
                    </div>

                    <p class="rounded-3 px-2 py-1 mx-2"><i class="fas fa-rupee-sign"></i>.&nbsp;{{ job.payjob }}</p>
                    <div class="accordion accordion-flush" id="job.jobid">
                        <div class="accordion-item mx-1 my-0 rounded-3">
                            <h2 class="accordion-header" id="flush-headingOne">
                                <button class="accordion-button collapsed custom-font py-2 rounded-pill custom-btn"
                                    type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                                    aria-expanded="false" aria-controls="flush-collapseOne"
                                    (click)="toggleDescriptionVisibility(job)">
                                    Job Description
                                </button>
                            </h2>
                            <div *ngIf="selectedJob === job" id="flush-collapseOne"
                                class="accordion-collapse collapse show" aria-labelledby="flush-headingOne"
                                data-bs-parent="#job.jobid">
                                <div class="accordion-body m-2 px-2 py-2 rounded-3" style="background-color: white;">
                                    <p>{{ job.companyforthisjob }}</p>
                                    <p [innerHTML]="job.descriptiondata"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="px-2 py-1 mx-2">Send your resume at <a [href]="'mailto:' + job.empEmail">{{ job.empEmail
                            }}</a> to apply</p>

                    <p class="rounded-3 px-2 py-1 mx-2">
                        <i class="fa-solid fa-calendar-days"></i>&nbsp;&nbsp;{{ job.sendTime | date: 'd MMMM yyyy' }}
                    </p>

                    <button class="btn custom-btn mt-3 rounded-pill" routerLink="/login">Apply</button>
                </div>

            </div>
        </div>
    </div>
    <div class="my-2 text-center">
        <button [disabled]="currentPage===1" class="previous-button" (click)="onPageChange(currentPage-1)">&nbsp; < Previous</button>
        <button [disabled]="currentPage === totalPage" class="load-more-button" (click)="onPageChange(currentPage+1)">Next ></button>
    </div>
</div>