.custom-btn {
    color: white;
    background-color: #1e2e5c;
}

.custom-table {
    border: 1px solid black;
}

.w-10 {
    width: 30%;
    /* Adjust the width as needed */
}

.blue-bgColor {
    color: white;
    background-color: #1e2e5c;
}

.table-responsive {
    width: 100%;
    /* Adjust width as needed */
    overflow-x: auto;
    /* Enable horizontal scrolling */
}

.table-row-border {
    border-bottom: 1px solid black;
}

.load-more-button {
    color: white;
    background-color: #1e2e5c;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: large;
}

.load-more-button:hover {
    background-color: #273769;
}

/* CSS for Previous button */
.previous-button {
    color: white;
    background-color: #2b2626;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 7px;
    font-size: large;
}

.previous-button:hover {
    background-color: #bbb;
    color: black;
}