<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <form class="shadow p-4 rounded bg-light" [formGroup]="form" (ngSubmit)="handleSubmit()">
        <div class="form-group">
          <label for="title" style="font-size: 20px;">Title:</label>
          <input type="text" formControlName="title" id="title" placeholder="Enter title" class="form-control" required>
        </div>
        <div class="form-group">
          <label for="body" style="font-size: 20px;">Body:</label>
          <textarea formControlName="body" id="body" placeholder="Enter body" rows="10" class="form-control"
            required></textarea>
        </div>
        <div class="form-group">
          <label for="selectToken" style="font-size: 20px;">Select Token:</label>
          <select multiple (change)="onTokenSelection($event)" formControlName="token" id="selectToken"
            class="form-control">
            <option *ngFor="let option of options" [ngValue]="option">{{ option }}</option>
          </select>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="selectedTokens.length > 0" class="row justify-content-center my-3">
    <div class="col-md-8">
      <div class="shadow p-4 rounded bg-light">
        <h2 class="text-center">Selected Tokens:</h2>
        <ul>
          <li *ngFor="let token of selectedTokens" class="text-center">
            <h4 class="token">{{ token }}</h4>
          </li>
        </ul>
        <div class="text-center">
          <button class="btn btn-danger btn-sm" (click)="deleteToken()">Delete</button>
        </div>
      </div>
    </div>
  </div>  
</div>
