.font-gelasio {
    font-family: Gelasio, serif;
}

.custom-table {
    width: 100%; /* Set table width to 100% */
    border: 1px solid black;
}

.btnwidth
{
    width: 1%;
    text-align: center; /* Center-align the contents of the table cell */
    vertical-align: middle; /* Vertical alignment of the cell */
    height: 100%;
}
.btnwidth1
{
    width: 3%;
    text-align: center; /* Center-align the contents of the table cell */
    vertical-align: middle; /* Vertical alignment of the cell */
    height: 100%;
}
.btnwidth .btn {
    margin: 0 auto; /* Center the button horizontally within the cell */
}
.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 20px auto; /* Adjust margin as needed */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
