<div class="container-fluid mt-4">
    <div class="container">
        <div class="row my-3">
            <div class="col-md-6">
                <input type="text" (click)="navigateToFinjobpage()" class="rounded-pill m-2 px-4 py-3 w-100 shadow-lg border-0 custom-outline" placeholder="Search by location">
            </div>
            <div class="col-md-6">
                <input type="text" (click)="navigateToFinjobpage()" class="rounded-pill m-2 px-4 py-3 w-100 shadow-lg border-0 custom-outline" placeholder="Search by skills / designation ">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <button (click)="navigateToFinjobpage()" class="btn rounded-pill px-4 py-3 shadow-lg mx-1 findjobbtn" type="button">Find Jobs</button>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>

