<div class="container mt-5" style="background: url('assets/chat-here-banner.jpg') center center/cover; border: 1px solid #ccc; border-radius: 10px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); padding: 20px;">
  <h2 class="text-center">Chat Here!</h2>
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="employers-box">
        <h3>Employers</h3>
        <div *ngFor="let employer of employerNames | keyvalue" class="messageFrom mb-2" (click)="selectUser(employer.key)">
          {{ employer.value }}
        </div>
      </div>
    </div>
    <div class="col-md-8 col-sm-12">
      <div class="chat-messages">
        <h3 *ngIf="selectedUser" class="mb-3">
          Messages
          <button *ngIf="selectedUser" (click)="startVideoCall()" class="btn btn-primary ml-2">
            <i class="fas fa-video"></i>
          </button>
        </h3>
        <div *ngIf="!selectedUser; else chatContent">
          <!-- <img src="assets/no-messages-image.jpg" alt="No messages image" class="img-fluid"> -->
        </div>
        <ng-template #chatContent>
          <div class="messages-list-container">
            <div class="messages-list">
              <div *ngFor="let message of messages" class="message mb-2"
              [ngClass]="{
                'sent': message.messageFrom === uid,
                'received': message.messageFrom !== uid
              }">
           <div class="message-content" [ngStyle]="getMessageStyle(message)">
             <div class="sender-name">
               <ng-container *ngIf="message.messageFrom === uid; else otherSender" style="color: black !important">
           <p style="color: black;">      You</p>
               </ng-container>
               <ng-template #otherSender>
                 {{ employerNames[message.messageFrom] }} 
               </ng-template>
             </div>
             <div class="message-text" style="color: black">{{ message.message }}</div>
           </div>
         </div>
         
         
            </div>
          </div>
          <!-- Send Message Form -->
          <div class="send-message-form" *ngIf="selectedUser">
            <form (submit)="sendMessage()">
              <div class="input-group">
                <textarea cols="100" rows="2" [(ngModel)]="newMessage" name="newMessage" class="form-control"
                  placeholder="Type your message..." required></textarea>
                <div class="input-group-append">
                  <button type="submit" class="btn custom-btn mt-3 rounded-pill">Send</button>
                </div>
              </div>
            </form>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
