<nav class="navbar navbar-expand-lg navbar-light bg-blue">
  <div class="container">
    <a class="navbar-brand" routerLink="/dashboarduser">
      <img src="assets/Job4jobless_logo.png" width="200" class="image-thumbnail d-inline-block">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <!-- <span class="navbar-toggler-icon"></span> -->
      <i class="fa-solid fa-bars-staggered"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav nav nav-pills me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]={exact:true} aria-current="page"
            routerLink="/dashboarduser/">Find Jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/dashboarduser/company">Company
            Reviews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/dashboarduser/savedjob">Saved
            Jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="/dashboarduser/resume">
           Resume Builder</a>
        </li>
      </ul>
      <ul class="navbar-nav nav-pills me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboarduser/message" aria-current="page" routerLinkActive="active"><i class="fa-solid fa-message fa-2x"></i> </a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/dashboarduser/notification" aria-current="page" routerLinkActive="active"><i class="fa-solid fa-bell fa-2x"></i>
              <span *ngIf="notificationCount > 0" class="badge rounded-pill bg-danger ml-2">{{ notificationCount }}</span>
             </a>
          </li> -->
        <li class="nav-item">
          <a class="nav-link position-relative" routerLink="/dashboarduser/notification" aria-current="page"
            routerLinkActive="active">
            <i class="fa-solid fa-bell fa-2x"></i>
            <span *ngIf="notificationCount > 0"
              class="badge bg-danger rounded-pill position-absolute top-7 start-100 translate-middle mt-1">
              {{ notificationCount }}
            </span>
          </a>
        </li>

        <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/dashboarduser/notification" aria-current="page" routerLinkActive="active">
              <i class="fa-solid fa-bell fa-2x"></i>
              <span *ngIf="notificationCount > 0" class="badge rounded-pill bg-danger ml-2 notification-badge">
                {{ notificationCount }}
              </span>
            </a>
          </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-user fa-2x"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="profileDropdown">
            <a class="dropdown-item" routerLink="/dashboarduser/userprofile"><i class="fa-regular fa-address-card"></i>
              Profile</a>
            <a class="dropdown-item" routerLink="/dashboarduser/myjobs"><i class="fa-solid fa-bookmark"></i> My Job</a>
           <!-- <a class="dropdown-item" routerLink="/dashboarduser/resume"><i class="fa-regular fa-file"></i> Resume
              Builder</a>-->
            <a class="dropdown-item" routerLink="/dashboarduser/mycompany"><i class="fa-regular fa-file"></i> My
              Companies</a>
		<a class ="dropdown-item" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
          </div>
        </li>
      </ul>
   <!--   <button class="btn btn-custom rounded-pill" (click)="logout()">Logout<span class="mx-2"><i
            class="fa-solid fa-right-from-bracket"></i></span></button>-->
    </div>
  </div>
</nav>



<router-outlet></router-outlet>
