a{
  color: #1E2E5C;
}
  

  .btn-custom {
    background-color: #1E2E5C;
    color: white;
}

.active {
  border-radius: 50px !important;
  color: white !important;
  background-color: #1E2E5C !important;
  padding: 0.7em 2em !important;
}

.notification-badge {
  position: absolute;
  top: -5px;
  right: -5px;
}