/* Apply styles to the app container */
.app-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh; /* Ensure the container takes up at least the full viewport height */
  }
  
  /* Apply styles to the router outlet (main content) */
  router-outlet {
    flex-grow: 1; /* Allow main content to grow and take up remaining space */
  }
  
  /* Apply styles to the footer container */
  .footer-container {
    margin-top: auto; /* Push the footer to the bottom of the container */
    transition: all 0.3s ease; /* Add a transition effect for smooth appearance/disappearance */
    opacity: 0; /* Initially hide the footer */
    max-height: 0; /* Initially hide the footer */
  }
  
  /* Show the footer when the "show" class is applied */
  .footer-container.show {
    opacity: 1; /* Show the footer with full opacity */
    max-height: none; /* Remove the maximum height to reveal the footer */
  }
  h1,p,h2{
    font-family: 'Poppins', sans-serif;
  }