.procontentr{
  padding: 20px;
}

/* Add this code to your styles.css file */

/* Equal size for both columns */
.col-md-4 {
  display: flex;
  align-items: stretch;
}

/* Adjust the aspect ratio for the card image */
.card-img-top {
  object-fit: cover;
  height: 100%; /* Set a fixed height to maintain the aspect ratio */
  width: 100%;
}

/* Optional: Add margin and padding for spacing */
.card {
  margin: 10px; /* Adjust as needed for spacing between cards */
  padding: 10px; /* Adjust as needed for spacing within cards */
}

/* Optional: Center the content within the card */
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Add this code to your styles.css file */

/* Equal size for both columns */
.col-md-4 {
  display: flex;
  align-items: stretch;
}

/* Adjust the aspect ratio for the card image */
.card-img-top {
  object-fit: cover;
  height: 100%; /* Set a fixed height to maintain the aspect ratio */
  width: 100%;
}

/* Add a gradient background to the cards */
.card {
  background: linear-gradient(to bottom, #708090, grey); /* Adjust the colors as needed */
  color: #fff; /* Set text color to white */
  margin: 10px; /* Adjust as needed for spacing between cards */
  padding: 20px; /* Adjust as needed for spacing within cards */
  max-height: max-content;
}

/* Optional: Center the content within the card */
.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
img{
  height: 50vh;
}
a{
  text-decoration: none;
}

.very-bold {
  font-weight: 900; /* Adjust the value as needed for the desired boldness */
}

.custom-btn {
  color: white;
  background-color: #1e2e5c;
}