<div class="container mt-5">
    <div class="row">
<div class="col-md-12 text-center">
  <h1 class="very-bold">Hiring Resources</h1>
</div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4">
            
            <div class="card mb-4">
                <img src="https://github.com/suraj9594/J4J-Website-Images/blob/main/images/ss.jpg?raw=true" style="width: 100%; height: 200px;"
                    alt="Tips for Business Communication During the COVID-19 Crisis" class="card-img-top">
                <div class="card-body">
                    <h1 class="card-title" >Overcoming Employment Gaps: Strategies for Re-Entering the Job Market</h1>
                    <p class="card-text">Are you currently facing an employment gap? Don't worry, you're not alone. Many individuals encounter periods of unemployment throughout their careers for various reasons. Whether it's due to personal circumstances, a career transition, or even a global crisis like the recent pandemic, employment gaps can happen to anyone</p>
                </div>
            </div>
            
        </div>
        <div class="col-md-4">
            
            <div class="card mb-4">
                <img src="https://github.com/suraj9594/J4J-Website-Images/blob/main/images/Mastering-Interview.jpg?raw=true"  style="width: 100%; height: 200px;"
                    alt="Tips for Business Communication During the COVID-19 Crisis" class="card-img-top">
                <div class="card-body">
                    <h1 class="card-title">Mastering Interview Follow-Up Etiquette: Leaving a Lasting Impression</h1>
                    <p class="card-text">Interviews can be nerve-wracking experiences, but your job is still ongoing once you walk out of the interview room. In fact, one crucial step that many job seekers overlook is the follow-up process. By implementing proper interview follow-up etiquette, you can leave a memorable impression on hiring managers and increase your chances of securing the position you desire..</p>
                </div>
            </div>
            
        </div>
        <div class="col-md-4">
            
            <div class="card mb-4">
                <img src="https://github.com/suraj9594/J4J-Website-Images/blob/main/images/Navigating-a-Career.jpg?raw=true"  style="width: 100%; height: 200px;"
                    alt="Tips for Business Communication During the COVID-19 Crisis" class="card-img-top">
                <div class="card-body">
                    <h1 class="card-title">  Navigating International Job Market: The World is Your Workplace</h1>
                    <p class="card-text">In today's interconnected world, the international job market offers limitless opportunities for those seeking to expand their horizons and explore new professional avenues. Whether you are a recent graduate, a seasoned professional, or simply someone looking for a new adventure, the international job market can be an exciting and rewarding place to find employment.</p>
                </div>
            </div>
            
        </div>
        <div class="col-md-4">
            
                <div class="card mb-4">
                    <img src="https://github.com/suraj9594/J4J-Website-Images/blob/main/images/internship.jpg?raw=true" style="width: 100%; height: 200px;" alt="Tips for Business Communication During the COVID-19 Crisis" class="card-img-top">
                    <div class="card-body">
                        <h1 class="card-title">Land on First Internship: Balancing Internship Commitments with Academic</h1>
                        <p class="card-text">Are you a college student eager to dive into the professional world and gain valuable experience? If so, securing your first internship is a crucial step towards achieving your career goals. DO YOU KNOW? According to a survey by the National Association of Colleges and Employers (NACE), nearly 60% of internships lead to full-time job offers.</p>
                    </div>
                </div>
            
        </div>
        
        <div class="col-md-4">
            
            <div class="card mb-4">
                <img src="https://github.com/suraj9594/J4J-Website-Images/blob/main/images/Decision-Making.jpg?raw=true" style="width: 100%; height: 200px;"
                    alt="Tips for Business Communication During the COVID-19 Crisis" class="card-img-top">
                <div class="card-body">
                    <h1 class="card-title"> Data-Driven Decision-Making in Recruitment: Choose Top-Notch Talents</h1>
                    <p class="card-text"> In today's competitive job market, recruitment has become more challenging than ever before. Companies are constantly striving to find the best talent to drive their success. To achieve this, organizations are turning to data-driven decision-making in recruitment. By leveraging insights from data, recruiters can make more informed decisions and attract top candidates. </p>
                </div>
            </div>
            
        </div>
        <div class="col-md-4">
            
            <div class="card mb-4">
                <img src="https://github.com/suraj9594/J4J-Website-Images/blob/main/images/International-Job-Markets.jpg?raw=true" style="width: 100%; height: 200px;"
                    alt="Tips for Business Communication During the COVID-19 Crisis" class="card-img-top">
                <div class="card-body">
                    <h1 class="card-title">Navigating a Career Change: Tips for Transitioning to a New Industry
                    </h1>
                    <p class="card-text">Are you considering a career change, but feeling a bit overwhelmed by the prospect of entering an entirely new industry? You're not alone. Many job seekers contemplate changing their careers, whether it's due to a shift in personal interests, the desire for new challenges, or changing industry trends. Making such a transition can be both exciting and challenging..</p>
                </div>
            </div>
            
        </div>
    </div>
</div>

<div class="container procontentr">
    <div class="row">
        <div class="col-md-5">

        </div>
        <div class="col-md-4">
            <button class="btn custom-btn rounded-pill" (click)="gotopage()" style="background-color: #2d2930;">Post a job</button>
        </div>
    </div>
</div>
<app-footerc></app-footerc>
