<div class="container advancesearchcss">
    <div class="row">
      <div class="col-md-6">
        <h2>Advanced search</h2>
      </div>
      <!-- <div class="col-md-6 text-end">
        <h3><a href="">More on Using CV Search</a></h3>
      </div> -->
    </div>
    <div class="row">
      <p>To conduct a search, complete at least one text field in the Find CVs, Work experience or Education sections and
        select Find candidates.</p>
    </div>
    <div class="row">
      <div class="container ">
        <div class="row">
  
          <div class="col-md-10">
            <div class="popup-form">
              <form [formGroup]="fincvwit" (ngSubmit)="onSubmit()">
  
                <div class="container findcvwith">
                  <div class="row">
                    <div class="col-md-2">
                      <h3>Find CVs with...</h3>
                    </div>
                    <div class="col-md-8">
                      <div class="form-group">
                        <label for="allofword">All of these words</label>
                        <input type="text" id="allofword" formControlName="allofword" class="form-control" required>
                      </div>
                      <div class="form-group">
                        <label for="theexactphrase">The exact phrase</label>
                        <input type="text" id="theexactphrase" formControlName="theexactphrase" class="form-control"
                          required>
                      </div>
                      <div class="form-group">
                        <label for="atleastone">At least one of these words</label>
                        <input type="text" id="atleastone" formControlName="atleastone" class="form-control" required>
                      </div>
                      <div class="form-group">
                        <label for="noneword">None of these words</label>
                        <input type="text" id="noneword" formControlName="noneword" class="form-control" required>
                      </div>
                    </div>
  
                  </div>
                </div>
  
                <div class="container findcvwith">
                  <div class="row">
                    <div class="col-md-2">
                      <h3>Work experience</h3>
                    </div>
                    <div class="col-md-8">
                      <div class="form-group">
                        <label for="tolj">Title of last job</label>
                        <input type="text" id="tolj" formControlName="tolj" class="form-control" required>
                      </div>
                      <div class="form-group">
                        <label for="toaj">Title of any job</label>
                        <input type="text" id="toaj" formControlName="toaj" class="form-control"
                          required>
                      </div>
                      <div class="form-group">
                        <label for="colj">Company of latest job</label>
                        <input type="text" id="colj" formControlName="colj" class="form-control" required>
                      </div>
                      <div class="form-group">
                        <label for="coanyj">Company of any job</label>
                        <input type="text" id="coanyj" formControlName="coanyj" class="form-control" required>
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Years of work experience</label>
                        <select class="form-select" formControlName="yearofworkex">
                          <option value="" disabled selected>Select an option</option>
                          <option value="lessthen1year">Less Than 1 Year</option>
  
                          <option value="12years">1-2 Years</option>
                          <option value="35years">3-5Years</option>
                          <option value="610years">6-10 Years</option>
                          <option value="more10">More Than !0 Years</option>
                         
                        </select>
                      </div>
                    </div>
  
                  </div>
                </div>
  
                <div class="container findcvwith">
                  <div class="row">
                    <div class="col-md-2">
                      <h3>Education</h3>
                    </div>
                    <div class="col-md-8">
                      <div class="form-group">
                        <label for="collegeuniname">College or University name</label>
                        <input type="text" id="collegeuniname" formControlName="collegeuniname" class="form-control" required>
                      </div>
                      <div class="form-group">
                        <label for="fieldofstudy">Field of study</label>
                        <input type="text" id="fieldofstudy" formControlName="fieldofstudy" class="form-control"
                          required>
                      </div>
                   
                    </div>
  
                  </div>
                </div>
  
                <div class="container findcvwith">
                  <div class="row">
                    <div class="col-md-2">
                      <h3>Location</h3>
                    </div>
                    <div class="col-md-8">
                      <div class="form-group">
                        <label for="wherelocation">Where</label>
                        <input type="text" id="wherelocation" formControlName="wherelocation" class="form-control" required>
                      </div>
                     
                    </div>
  
                  </div>
                </div>
  
                <div class="container findcvwith">
                  <div class="row">
                    <div class="col-md-2">
                      <h3>Activity</h3>
                    </div>
                    <div class="col-md-8">
                      <div class="mb-3">
                        <label class="form-label">CV last updated</label>
                        <select class="form-select" formControlName="cvlastupdated">
                          <option value="" disabled selected>Select an option</option>
                          <option value="last3days">With-In Last 3 Days</option>
  
                          <option value="lastweek">With-In Last Week</option>
                          <option value="lastmonth">With-In Last Month</option>
                          <option value="last3month">With-In Last 3 Months</option>
                          <option value="last6month">With-In Last 6 Months</option>
                         
                        </select>
                      </div>
                    </div>
  
                  </div>
                </div>
  
                <button type="submit" class="btn custtom-btn rounded-pill">Find Candidates</button>
              </form>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footerc></app-footerc>