/* .blue-bgColor {
    color: white;
    background-color: #1e2e5c;
}

thead th {
    text-align: center;
}

.table-width {
    width: 8%;
}

.action-width {
    width: 13%;
} */

.custom-table {
    border: 1px solid black;
}
/* .custom-table th,
.custom-table td {
  border: 3px solid #dee2e6;  Add border to table headers and cells 
} */
.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 20px auto; /* Adjust margin as needed */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.custom-table-container
{
    margin-top: 1%;
}

.load-more-button {
    color: white;
    background-color: #1e2e5c;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: large;
}

.load-more-button:hover {
    background-color: #273769;
}

/* CSS for Previous button */
.previous-button {
    color: white;
    background-color: #2b2626;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 7px;
    font-size: large;
}

.previous-button:hover {
    background-color: #bbb;
    color: black;
}
.findjobbtn {
    background-color: #1e2e5c;
    color: white;
}