<div class="privacy-policy">
    <h1 style="display: block; align-items: center;"><u> Terms and Conditions</u></h1>
    <section>
        <h2> 1. Respect & Play Fair:</h2> Treat everyone with courtesy and avoid discrimination. Be honest and
        responsible.
    </section>
    <section>
        <h2>2. Accurate Profiles & Listings:</h2>
        <p>Provide truthful information on your resume and job postings. Don't mislead or misrepresent.</p>
    </section>

    <section>
        <h2>3. Your Data, Your Control:</h2>
        <p>We protect your privacy but you manage your settings. Be mindful with information you share..</p>
    </section>


    <section>
        <h2>4. No Spam, No Scams:</h2>
        <p>Don't spam or scrape data. Unethical activities will get you removed.</p>
    </section>

    <section>
        <h2>5. Evolving Platform, Adapting Terms:</h2>
        <p>We update our terms, so stay informed and adapt responsibly.</p>
    </section>


    <section>
        <h2>6. Job Seekers:</h2>
        <p>We never charge for finding or applying to jobs. Negotiate salary directly with employers.</p>
    </section>


    <section>
        <h2>7. Employers: </h2>
        <p>Job posting fees may apply for enhanced visibility. Use secure platform payments for background checks or
            premium services.</p>
    </section>




</div>

<app-footer></app-footer>