.grey-background {
    color: white;
    /* background-color: #1e2e5c; */
}

.white-background {
    background-color: white;
}

.th.grey-background {
    color: white;
}

/* table  tr{
    border-collapse: collapse;
    border: 2px solid black; 
    width: 100%;
    color: white;
} */
/* .custom-table {
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
} */

.custom-table th {
    padding: 8px;
    /* text-align: left; */
    /* color: black; */
}

@media only screen and (max-width: 600px) {
    .custom-table th {
        font-size: 12px;
        /* Adjust font size for smaller screens */
    }

    .custom-table th,
    .custom-table td {
        padding: 5px;
    }

    /* .custom-table {
        overflow-x: auto;
        display: block;
    } */
}

.custom-table {
    border: 1px solid black;
}

.load-more-button {
    color: white;
    background-color: #1e2e5c;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: large;
}

.load-more-button:hover {
    background-color: #273769;
}

/* CSS for Previous button */
.previous-button {
    color: white;
    background-color: #2b2626;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 7px;
    font-size: large;
}

.previous-button:hover {
    background-color: #bbb;
    color: black;
}

.findjobbtn {
    background-color: #1e2e5c;
    color: white;
}