<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="form-container">
        <div class="mb-4">
          <div class="progress">
            <div class="progress-bar" role="progressbar" [style.width]="(currentStep / totalSteps * 100) + '%'"></div>
          </div>
        </div>
        <form [formGroup]="myformsubmission" (ngSubmit)="insertUserForma(myformsubmission)">
          <div class="container mt-5">
            <div class="row justify-content-center">
              <div class="col-md-8">
                <div class="card">
                  <div class="card-body">
                    <div *ngIf="currentStep === 1">
                      <h1 class="card-title">Add a CV for the employer</h1>
                      <div class="mb-3">
                        <!-- <label class="form-label">Company Name:</label> -->
                        <input type="hidden" [formControlName]="'jucompny'" />
                      </div>
                      <div class="mb-3">
                        <label for="juname" class="form-label">Name:*</label>
                        <input type="text" id="juname" class="form-control" formControlName="juname">

                        <div
                          *ngIf="myformsubmission.get('juname')?.errors?.['required'] && myformsubmission.get('juname')?.touched"
                          class="text-danger">
                          Name is required.
                        </div>
                        <div
                          *ngIf="myformsubmission.get('juname')?.errors?.['pattern'] && myformsubmission.get('juname')?.touched"
                          class="text-danger">
                          Name is invalid.
                        </div>
                        <div
                          *ngIf="myformsubmission.get('juname')?.errors?.['leadingSpace'] && myformsubmission.get('juname')?.touched"
                          class="text-danger">
                          Name should not start with a space.
                        </div>
                      </div>


                      <div class="mb-3">
                        <label class="form-label">Email:*</label>
                        <input type="email" id="jumail" class="form-control" formControlName="jumail">

                        <div
                          *ngIf="myformsubmission.get('jumail')?.hasError('required') && myformsubmission.get('jumail')?.touched"
                          class="text-danger">
                          Email is required.
                        </div>
                        <div
                          *ngIf="myformsubmission.get('jumail')?.hasError('email') && myformsubmission.get('jumail')?.touched"
                          class="text-danger">
                          Please enter a valid email address.
                        </div>
                        <div
                          *ngIf="myformsubmission.get('jumail')?.hasError('pattern') && myformsubmission.get('jumail')?.touched"
                          class="text-danger">
                          Email must be a valid Gmail address.
                        </div>
                      </div>
                      <div class="mb-3">
                        <label class="form-label" for="juresume">Upload Resume:*</label>
                        <input type="file" id="juresume" class="form-control" formControlName="juresume"
                          (change)="onFileSelected($event)" accept=".pdf" />
                        <div
                          *ngIf="myformsubmission.get('juresume')?.hasError('required') && myformsubmission.get('juresume')?.touched"
                          class="text-danger">
                          Resume is required.
                        </div>
                        <div
                          *ngIf="myformsubmission.get('juresume')?.hasError('invalidFormat') && myformsubmission.get('juresume')?.touched"
                          class="text-danger">
                          Invalid file format. Please upload a PDF file.
                        </div>
                      </div>


                      <!-- <button class="btn custom-btn rounded-pill" (click)="nextStep(); uploadFile()">Next & Upload File</button> -->
                      <button class="btn custom-btn rounded-pill" (click)="nextStep()" [disabled]="!myformsubmission.get('juname')?.valid || !myformsubmission.get('jumail')?.valid
                      || !myformsubmission.get('juresume')?.valid">Next & Upload File</button>
                    </div>

                    <div *ngIf="currentStep === 2">
                      <h2 class="card-title">Questions from the employer</h2>
                      <div class="container">
                        <div class="row" style="background-color: aquamarine;">
                          <p>To save time, we may start with your previous responses</p>
                        </div>
                      </div>
                      <div class="mb-3">
                        <label for="jurelocation" class="form-label">Will you be able to reliably commute or relocate to
                          Anywhere for this job?</label>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" id="commute" name="jurelocation" value="commute"
                            formControlName="jurelocation">
                          <label class="form-check-label" for="commute">
                            Yes, I can make the commute
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" id="relocate" name="jurelocation"
                            value="relocate" formControlName="jurelocation">
                          <label class="form-check-label" for="relocate">
                            Yes, I am planning to relocate
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" id="relocate-assistance" name="jurelocation"
                            value="relocate-assistance" formControlName="jurelocation">
                          <label class="form-check-label" for="relocate-assistance">
                            Yes, but I need your location assistance
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="radio" id="no" name="jurelocation" value="no"
                            formControlName="jurelocation">
                          <label class="form-check-label" for="no">
                            No
                          </label>
                        </div>
                        <div
                          *ngIf="myformsubmission.get('jurelocation')?.hasError('required') && myformsubmission.get('jurelocation')?.touched"
                          class="text-danger">
                          Please select at least one option.
                        </div>
                      </div>
                      <div class="mb-3">
                        <label for="jueducation" class="form-label">What is the highest level of education you have
                          completed?</label>
                        <select class="form-select" formControlName="jueducation">
                          <option value="" disabled>Select an option</option>
                          <option value="none">NONE</option>
                          <option value="secondary">Secondary (10th Pass)</option>
                          <option value="higher-secondary">Higher Secondary (12th Pass)</option>
                          <option value="diploma">Diploma</option>
                          <option value="bachelor">Bachelor's</option>
                          <option value="master">Master's</option>
                          <option value="doctorate">Doctorate</option>
                        </select>
                        <div
                          *ngIf="myformsubmission.get('jueducation')?.hasError('required') && myformsubmission.get('jueducation')?.touched"
                          class="text-danger">
                          Education level is required.
                        </div>
                      </div>
                      <div class="mb-3">
                        <label for="experienceType" class="form-label">Select your experience type:</label>
                        <select class="form-select" formControlName="selectedExperience" (change)="onExperienceTypeChange()">
                          <option value="fresher">Fresher</option>
                          <option value="experienced">Experienced</option>
                        </select>
                      </div>
                      <div *ngIf="myformsubmission.get('selectedExperience')?.value === 'experienced'" class="mb-3">
                        <label for="years" class="form-label">Years of Experience:</label>
                        <input type="number" class="form-control" id="years" formControlName="years"
                          (change)="updateTotalExperience()">
                      </div>
                      <div *ngIf="myformsubmission.get('selectedExperience')?.value === 'experienced'" class="mb-3">
                        <label for="months" class="form-label">Months of Experience:</label>
                        <input type="number" class="form-control" id="months" formControlName="months"
                          (change)="updateTotalExperience()">
                      </div>
                      <div
                        *ngIf="(myformsubmission.get('years')?.touched || myformsubmission.get('months')?.touched) && totalExperience == 0"
                        class="text-danger">
                        Experience is required.
                      </div>

                      <div class="mb-3">
                        <label class="form-label">Please list 2-3 dates that you could do an interview. (Format
                          DD-MM-YYYY)(optional)</label>
                        <textarea type="text" class="form-control" formControlName="juinterviewdate"
                          name="juinterviewdate" id="" cols="30" rows="5"></textarea>
                        <div
                          *ngIf="myformsubmission.get('juinterviewdate')?.hasError('pattern') && myformsubmission.get('juinterviewdate')?.touched"
                          class="text-danger">
                          Invalid date format. Please enter dates in the format DD-MM-YYYY.
                        </div>
                      </div>

                      <div class="d-flex justify-content-between">
                        <button class="btn custom-btn rounded-pill" (click)="prevStep()">Previous</button>
                        <!-- <button class="btn custom-btn rounded-pill" (click)="nextStep()" [disabled]="!myformsubmission.get('jueducation')?.valid || !myformsubmission.get('jurelocation')?.valid
                        || !myformsubmission.get('juexperience')?.valid || (isExperienced && (myformsubmission.get('years')?.value === '' || myformsubmission.get('months')?.value === ''))">Next</button> -->
                        <button class="btn custom-btn rounded-pill" (click)="nextStep()"
                          [disabled]="!myformsubmission.get('jueducation')?.valid || !myformsubmission.get('jurelocation')?.valid
                         || (isExperienced && (myformsubmission.get('years')?.value === '' || myformsubmission.get('months')?.value === ''))">Next</button>
                      </div>
                    </div>
                    <div *ngIf="currentStep === 3">
                      <h1 class="card-title">Enter a past job that shows relevant experience</h1>
                      <div class="container" style="background-color:aquamarine ;">
                        <div class="row">
                          <p>Review pre-filled fields to make sure they are correct for this application.</p>
                        </div>
                      </div>
                      <div class="container">
                        <div class="row">
                          <h4>Relevant experience(optional)</h4>
                        </div>
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Job title</label>
                        <input type="text" id="jujobtitle" class="form-control" formControlName="jujobtitle"
                          placeholder="Job title">

                      </div>
                      <div class="mb-3">
                        <label class="form-label" for="jucompanyname">Company</label>
                        <input type="text" id="jucompanyname" class="form-control" placeholder="Company Name"
                          formControlName="jucompanyname">

                      </div>
                      <div class="d-flex justify-content-between">
                        <button class="btn custom-btn rounded-pill" (click)="prevStep()">Previous</button>
                        <button class="btn custom-btn rounded-pill" type="submit">Submit</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <!-- Add more sections for additional steps as needed -->

        </form>
      </div>
    </div>
    <div class="col-md-6">
      <div class="container mt-5">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="card">
              <div class="card-body">
                <h4>Job Title: {{ jobTitle }}</h4>
                <p>Company Name: {{ companyName }}</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>