.custom-font {
    font-family: 'Poppins', sans-serif;
}

.custom-pills {
    color: black;
    border: 2px solid #1E2E5C;
    background-color: #1e2e5c41;
}

.custom-pills-btn {
    color: white !important;
    border: 2px solid #1E2E5C !important;
    background-color: #1E2E5C !important;
    border: none;
    outline: none;
}
.custom-btn {
    color: white;
    background-color: #1e2e5c;
}
.findjobbtn  {
    background-color: #1e2e5c41;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    border: 2px solid #1E2E5C;
}

.findjobbtn:hover {
    background-color: #1E2E5C;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    border: 2px solid #1E2E5C;
    color: white;
}

.custom-outline {
    outline: 2px solid #1E2E5C;
}

input {
    font-family: 'Poppins', sans-serif;
}

.job-item {
    padding: 20px; /* Add padding */
    margin-bottom: 20px; /* Add margin between job items */
  }
  
  .company {
    font-weight: bold; /* Make company name bold */
  }
  
  .like-icon {
    background-color: #1e2e5c41; /* Adjust background color */
    color: white; /* Set text color */
  }
  
  .pay {
    background-color: #1e2e5c41; /* Adjust background color */
    color: white; /* Set text color */
  }
  
  .company-location {
    margin-top: 10px; /* Add margin */
  }
  
  .custom-pills {
    margin-right: 10px; /* Add margin between pills */
  }
  