.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12%;
    /* height: 100vh; Set the height of the container to the full viewport height */
    /* width: 80%; Default width */
}

/* Media query for phones */
@media (max-width: 768px) {
    .center-container {
        width: 90%;
        /* Adjust width for phones */
        display: inline;
    }
}

.blog-details {
    text-align: left;
}

.image-container {
    text-align: center;
    /* Center the content inside the container horizontally */
    /* margin-right: 10%; */
}

.content-center {
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /* padding-right: 10%; */
}

@media (max-width: 768px) {
    .content-center {
        width: 90%;
        /* Adjust width for phones */
    }
}

ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.font-bold {
    font-weight: 700;
}

.text-3xl {
    font-size: 28px;
}

.mb-4 {
    margin-bottom: 1rem;
}

.font-gelasio {
    font-family: Gelasio, serif;
}

#textEditor *,
.blog-page-content * {
    font-family: Gelasio, serif;
    font-size: 20px;
    line-height: 2.5rem;
}

.title-mar {
    padding-top: 2%;
}



.center-container {
    width: 60%;
    margin: 0 auto;
}

.center-container .app-blog-card .blog-table {
    border: none;
}

.responsive-image {
    max-width: 100%;
    height: auto;
    width: 50vw; /* Set width to 100% of the viewport width */
    max-height: 50vh; /* Set max height to 70% of the viewport height */
}

@media (max-width: 700px) {
    .responsive-image {
        width: 80vw; /* Set width to 80% of the viewport width when screen width is less than 700px */
        max-height: 80vh;
    }
}
