<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="showNavbaremp">
  <div class="container">
    <a class="navbar-brand" routerLink="/dashboardemp">
      <img src="assets/Asset 1@4x-8.png" width="200" class="image-thumbnail d-inline-block">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars-staggered"></i>
    </button>


    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboardemp/" [routerLinkActiveOptions]={exact:true}
            routerLinkActive="active">Post Job</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/dashboardemp/alljobs" routerLinkActive="active">Job Posted</a>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuLink" data-bs-toggle="dropdown">
            Job Posted
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li>
              <a class="dropdown-item" routerLink="/dashboardemp/alljobs" style="color: black;" routerLinkActive="active">Approved Jobs </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/dashboardemp/disapprovejob" style="color: black;" routerLinkActive="active">Dis-Approved Jobs</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboardemp/applieduserdetails" routerLinkActive="active">Applied Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center" routerLink="/dashboardemp/notificationemp"
            routerLinkActive="active">
            Notifications&nbsp;
            <span *ngIf="waitingApplicationsCount > 0" class="badge rounded-pill bg-danger ml-2">{{
              waitingApplicationsCount }}</span>
          </a>
        </li>

      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboardemp/profilemep" routerLinkActive="active">Profile</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" (click)="logoutEmployer()" routerLinkActive="active">
            <button class="btn btn-custom rounded-pill">Logout<span class="mx-2"><i
                  class="fa-solid fa-right-from-bracket"></i></span></button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>
