.toggle-password-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.eye-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  cursor: pointer;
}

