.status-option {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.status-option:hover {
  background-color: #f0f0f0;
}

.custom-btn {
  color: white;
  background-color: #1e2e5c;
}

.dropdown-menu .list-group-item:hover {
  cursor: pointer;
}