<div class="container-fluid registerform my-5">

  <div class="row">
    <div class="col-12 col-md-8 offset-md-2">
      <!-- <h1 class="text-center" style="font-size: 1.5rem; text-shadow: 3px 3px 5px #888; color: black;">Ready to take the next step?</h1> -->
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="container form-container bg-white p-4 rounded">
            <h2 class="h4 mb-4">Registration</h2>

            <form [formGroup]="userregister" (ngSubmit)="userRegisteration()">
              <div class="form-group row">
                <div class="col">
                  <label for="userFirstName">First Name*:</label>
                  <input type="text" class="form-control" formControlName="userFirstName"
                    placeholder="Enter First Name">
                  <div
                    *ngIf="userregister.get('userFirstName')?.hasError('required') && userregister.get('userFirstName')?.touched"
                    class="text-danger">First Name is required.
                  </div>
                  <div
                    *ngIf="userregister.get('userFirstName')?.hasError('pattern') && userregister.get('userFirstName')?.touched"
                    class="text-danger">Invalid Name.
                  </div>
                </div>
                <div class="col">
                  <label for="userLastName">Last Name:*</label>
                  <input type="text" class="form-control" formControlName="userLastName" placeholder="Enter Last Name">
                  <div
                    *ngIf="userregister.get('userLastName')?.hasError('required') && userregister.get('userLastName')?.touched"
                    class="text-danger">Last Name is required.
                  </div>
                  <div
                    *ngIf="userregister.get('userLastName')?.hasError('pattern') && userregister.get('userLastName')?.touched"
                    class="text-danger">Invalid Name.
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="userName">Email:*</label>
                <input type="email" autocomplete="off" class="form-control" formControlName="userName"
                  placeholder="Enter Email">
                <div *ngIf="userregister.get('userName')?.hasError('required') && userregister.get('userName')?.touched"
                  class="text-danger">Email is required.
                </div>
                <div *ngIf="userregister.get('userName')?.hasError('email') && userregister.get('userName')?.touched"
                  class="text-danger">Please enter a valid email address.
                </div>
                <div *ngIf="userregister.get('userName')?.hasError('pattern') && userregister.get('userName')?.touched"
                  class="text-danger">Please enter a valid email address.
                </div>
              </div>

              <label for="userPassword">Password:*</label>
              <div class="form-group d-flex justify-content-between align-items-center">
                <input type="password" class="form-control px-4" formControlName="userPassword" id="userPassword"
                  placeholder="Password" [type]="passwordVisible ? 'text' : 'password'"
                  [ngClass]="{ 'is-invalid': userregister.get('userPassword')?.invalid && userregister.get('userPassword')?.touched }" />
                <div (click)="togglePasswordVisibility()" class="px-2 eye-icon">
                  <div *ngIf="passwordVisible; else hidePassword">
                    <i class="fa-solid fa-eye-slash"></i>
                  </div>
                  <ng-template #hidePassword>
                    <i class="fa-solid fa-eye"></i>
                  </ng-template>
                </div>
              </div>
              <div
                *ngIf="userregister.get('userPassword')?.hasError('required') && userregister.get('userPassword')?.touched"
                class="text-danger">Password is required.
              </div>
              <div
                *ngIf="userregister.get('userPassword')?.hasError('minlength') && userregister.get('userPassword')?.touched"
                class="text-danger">Password must be at least 8 characters long.
              </div>
              <div
                *ngIf="userregister.get('userPassword')?.hasError('pattern') && userregister.get('userPassword')?.touched"
                class="text-danger">Password must contain at least one capital letter, one small letter, one number,
                and one special character.
              </div>
              <div class="row">

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="userphone">Phone:*</label>
                    <input type="tel" id="userphone" class="form-control" formControlName="userphone"
                      placeholder="Enter Phone" />
                    <div
                      *ngIf="userregister.get('userphone')?.hasError('required') && userregister.get('userphone')?.touched"
                      class="text-danger">Phone number is required.
                    </div>
                    <div
                      *ngIf="userregister.get('userphone')?.hasError('pattern') && userregister.get('userphone')?.touched"
                      class="text-danger">Please enter a valid phone number with 10 digits.
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="usercountry">Country:*</label>
                      <select id="usercountry" class ="form-control" formControlName="usercountry" (change)="onCountryChange($event)">
 <option value="">Select your country</option>
    <option *ngFor="let country of countries" [value]="country.iso2">{{ country.name }}</option>
  </select>
                    <div
                      *ngIf="userregister.get('usercountry')?.hasError('required') && userregister.get('usercountry')?.touched"
                      class="text-danger">Country is required.
                    </div>
                  </div>
                </div>
              </div>



              <div class="form-group">
                <label for="userstate">State:*</label>
            <select id="userstate" formControlName="userstate" class ="form-control" (change)="onStateChange($event)">
<option value="">Select your state</option>
    <option *ngFor="let state of states" [value]="state.iso2">{{ state.name }}</option>
  </select>
                <div
                  *ngIf="userregister.get('userstate')?.hasError('required') && userregister.get('userstate')?.touched"
                  class="text-danger">State is required.
                </div>
                <div
                  *ngIf="userregister.get('userstate')?.hasError('pattern') && userregister.get('userstate')?.touched"
                  class="text-danger">Invalid State.
                </div>
              </div>

              <div class="form-group">
                <label for="usercity">City:*</label>
             <select id="usercity" formControlName="usercity" class ="form-control">
  <option value="">Select your city</option>
    <option *ngFor="let city of cities">{{ city.name }}</option>
  </select>
                <div *ngIf="userregister.get('usercity')?.hasError('required') && userregister.get('usercity')?.touched"
                  class="text-danger">City is required.
                </div>
                <div *ngIf="userregister.get('usercity')?.hasError('pattern') && userregister.get('usercity')?.touched"
                  class="text-danger">Invalid City.
                </div>
              </div>

              <div>
                <div class="form-group d-flex align-items-center">
                  <input type="checkbox" (change)="toggleLinkedInputBox($event)">
                  <label for="userlinkden" class="github-label">Linked URL:*</label>
                  <input *ngIf="showLinkedInputBox" type="url" class="form-control black-border"
                    formControlName="userlinkden" placeholder="Enter LinkedIn URL">
                  <div
                    *ngIf="userregister.get('userlinkden')?.hasError('required') && userregister.get('userlinkden')?.touched"
                    class="text-danger">Url is required.
                  </div>
                </div>

                <div class="form-group d-flex align-items-center">
                  <input type="checkbox" (change)="toggleGitInputBox($event)">
                  <label for="usergithub" class="github-label">Github URL:*</label>
                  <input *ngIf="showGitInputBox" type="url" class="form-control black-border"
                    formControlName="usergithub" placeholder="Enter GitHub URL">
                  <div
                    *ngIf="userregister.get('usergithub')?.hasError('required') && userregister.get('usergithub')?.touched"
                    class="text-danger">Url is required.
                  </div>
                </div>

                <div class="form-group d-flex align-items-center">
                  <input type="checkbox" (change)="toggleOtherInputBox($event)">
                  <label for="otherturluser" class="github-label">Other URL:</label>
                  <input *ngIf="showOtherInputBox" type="url" class="form-control black-border"
                    formControlName="otherturluser" placeholder="Enter URL">
                </div>
              </div>

              <!-- <div class="form-group">
                <label for="summary">Description:*</label>
                <textarea class="form-control textar" formControlName="summary" placeholder=""></textarea>
             
                <div *ngIf="userregister.get('summary')?.hasError('required') && userregister.get('summary')?.touched"
                  class="text-danger">Description is required.
                </div>
              </div> -->
              <div class="form-group">
                <label for="summary">Description:*</label>
                <angular-editor formControlName="summary" [placeholder]="'Enter text here...'"></angular-editor>
                <div *ngIf="userregister.get('summary')?.hasError('required') && userregister.get('summary')?.touched"
                  class="text-danger">
                  Description is required.
                </div>
              </div>

              <!-- <button type="submit" class="btn btn-primary btn-block mt-3" [disabled]="loading">
                <span *ngIf="!loading">Register</span>
                <span *ngIf="loading"><i class="fa fa-spinner fa-spin"></i> Please wait...</span>
              </button> -->
              <button type="submit" class="btn custom-btn rounded-pill mt-3"
                style=" background-color: #1e2e5c;  color: white;" [disabled]="loading">
                Register
              </button>
            </form>
            <button type="submit" class="btn custom-btn rounded-pill mt-3" (click)="verifyPasswordf()">
              If you have already registered, please complete your OTP verification
            </button>
            <div class="loader-overlay" *ngIf="loading">
              <div class="loader"></div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 text-center">
          <div class="container bg-white p-4 rounded">
            <button class="btn custom-button btn-lg" (click)="loginWithGoogle()"
              style="display: block; margin: 0 auto;">
              <i class="fab fa-google"></i> Sign Up with Google
            </button>
            <img src="assets/SignUP-01.jpg" alt="" width="100%">
          </div>
        </div>



      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <div *ngIf="successMessage" class="alert alert-success">
          {{ successMessage }}
        </div>
        <div *ngIf="showWarning" class="alert alert-warning">
          User had not created!
        </div>
      </div>
    </div>
  </div>
</div>
