

<div class="container d-flex justify-content-center align-items-center">
    <!-- <button routerLink="/employer" class="position-absolute top-0 start-0 btn rounded-pill m-4" style="background-color: #1E2E5C; color: white;"><i class="fa-solid fa-chevron-left"></i>&nbsp; &nbsp; Go back to home</button> -->
    <div class="border shadow border-2 rounded-3 d-flex justify-content-center align-items-center flex-column"
      style="max-width: 40em; margin-top: 10vh; background-color: #1c1c1c; padding: 40px;">
      <div class="text-center my-4">
        <img src="assets/Asset 1@4x-8.png" alt="job4jobless" width="200" onclick="window.location.href = '/employer'">
      </div>
      <p style="color: white;">Sign in to job4jobless as Recruiter</p>
  
      <!-- Sign-In Form -->
      <form [formGroup]="empsignin" (ngSubmit)="empCheckInfo()" action="">
        <div class="form-group">
          <input type="text" class="form-control px-4 rounded-pill" formControlName="empmailid" id="empmailid"
            placeholder="Enter your Email ID"
            [ngClass]="{ 'is-invalid': empsignin.get('empmailid')?.invalid && empsignin.get('empmailid')?.touched }" />
          <div class="invalid-feedback" *ngIf="empsignin.get('empmailid')?.hasError('required')">
            empmailid or Email is required.
          </div>
        </div>
        <!-- <div class="form-group d-flex justify-content-between align-items-center">
          <input type="password" class="form-control px-4 rounded-pill" formControlName="emppass" id="emppass"
            placeholder="Password" [type]="empPasswordVisible ? 'text' : 'password'" />
          <div (click)="toggleEmpPasswordVisibility()" class="px-2" style="color: white;">
            <div *ngIf="empPasswordVisible; else hidePassword">
              <i class="fa-solid fa-eye-slash"></i>
            </div>
            <ng-template #hidePassword>
              <i class="fa-solid fa-eye"></i>
            </ng-template>
          </div>
        </div> -->
        <div class="form-group position-relative">
          <input type="password" class="form-control px-4 rounded-pill" formControlName="emppass" id="emppass"
            placeholder="Password" [type]="empPasswordVisible ? 'text' : 'password'" />
          <div (click)="toggleEmpPasswordVisibility()" class="position-absolute end-0 top-50 translate-middle-y px-2" style="color: black;">
            <div *ngIf="empPasswordVisible; else hidePassword">
              <i class="fa-solid fa-eye-slash"></i>
            </div>
            <ng-template #hidePassword>
              <i class="fa-solid fa-eye"></i>
            </ng-template>
          </div>
        </div>
        
        <div class="form-group d-flex flex-column justify-content-center align-items-stretch">
          <a class="text-decoration-none text-center" routerLink="/employer/resetpass" style="color: white;">Forgot your password?</a>
          <button type="submit" class="btn rounded-pill my-3" style="background-color: white; color: #1E2E5C;">Sign In</button>
          <p style="color: white;">Don't have an account? <a (click)="insertemp()" class="create-account-link" style="color: white; text-decoration: underline;">Create Account.</a></p>
          <button class="btn rounded-pill custom-google"
            (click)="loginWithGoogle()">
            <i class="fab fa-google"></i>&nbsp; &nbsp;Sign In with Google
          </button>
        </div>
      </form>
    </div>
  </div>