<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow p-4">
        <h1 class="mb-4">Check Employer Existence*</h1>
        <!-- <form [formGroup]="employerForm" (submit)="checkUser()">
          <div class="form-group">
            <label for="empmailid">Email (must be a valid Gmail address):</label>
            <input type="email" class="form-control" formControlName="empmailid" placeholder="Enter Email">
            <div *ngIf="employerForm.get('empmailid')?.hasError('required') && employerForm.get('empmailid')?.touched"
              class="text-danger">Email is required.
            </div> 
             <div *ngIf="employerForm.get('empmailid')?.hasError('email') && employerForm.get('empmailid')?.touched" class="text-danger">
              Please enter a valid email address.
            </div>
            <div *ngIf="employerForm.get('empmailid')?.hasError('pattern') && employerForm.get('empmailid')?.touched" class="text-danger">
              Please enter a valid email address .
            </div>
          </div>
          <button class="btn custom-btn rounded-pill" >Check Employer</button>
        </form> -->
        <form [formGroup]="employerForm" (ngSubmit)="checkUser()">
          <div class="form-group">
            <label for="empmailid">Email (must be a valid email address):</label>
            <input type="email" id="empmailid" class="form-control" formControlName="empmailid"
              placeholder="Enter Email">
            <div *ngIf="employerForm.get('empmailid')?.touched && employerForm.get('empmailid')?.errors as errors"
              class="text-danger">
              <div *ngIf="errors['required']">Email is required.</div>
              <div *ngIf="errors['email']">Please enter a valid email address.</div>
              <div *ngIf="errors['pattern']">Please enter a valid email format.</div>
            </div>
          </div>
          <button type="submit" class="btn custom-btn rounded-pill">Check Employer</button>
        </form>
      </div>
    </div>
  </div>
  <div class="loader-overlay" *ngIf="loading">
    <div class="loader"></div>
  </div>
</div>